[2013-12-19 23:29] raymondfeng opened #6 "Cannot construct filter query parameter that represents a json object"
LoopBack Model.find method takes a filter as the query parameter and its value is a json object. We need to specify it as:

filter[where[x=1]]

But the UI assumes that filter = (the text value from input). As a result, we cannot specify find filter from the explorer.

[2013-12-20 19:09] ritch opened #7 "Should be able to send access token"
It should be easy to set a global access token. Right now there is really no way to supply them with the current swagger ui.

[2013-12-30 18:44] ritch opened #8 "Model Schemas"
The explorer should use the model's schema.

Details TBD.

[2014-01-10 07:50] bajtos opened #11 "Move in ext/swagger from strong-remoting"
See the [discussion](https://github.com/strongloop/loopback-explorer/pull/10#discussion_r8736738) in #10.

[2014-07-14 20:44] #7 closed, assigned to nobody

[2014-07-14 20:44] #11 closed, assigned to nobody

[2014-07-30 21:47] ritch opened #26 "Move Route discovery / introspection to workspace"
The ability to introspect routes, swagger resources, and other related meta data, should be made available from the workspace API. The explorer should use the workspace API to get the metadata it needs instead of interacting with the `app` directly.

/cc @raymondfeng

[2014-08-02 19:20] daankets opened #28 "Unable to install any version beyond 1.1.1 (on mac)"
It seems impossible to install any version beyond 1.1.1 (on a mac at least, I didn't test on other systems). Using  NodeJS 0.10.30 and the corresponding version of npm I get this:

... lots of logging ...
2115 error Error: ENOENT, lstat '/private/tmp/test/node_modules/loopback-explorer/node_modules/express/node_modules/mkdirp/readme.markdown'
2116 error If you need help, you may report this _entir

[2014-08-04 04:58] grabanom opened #30 "StrongLoop API Explorer returning this.type.split error"
I have just tried to use the StrongLoop API Explorer as explained on  http://docs.strongloop.com/display/LB/Use+API+Explorer; I have followed all the steps indicated in the document starting from downloading the sample code from https://github.com/strongloop/loopback-explorer.

When I hit "Try it out" I keep getting a JS error (from firebug)

[code]

and the following is the response body that I k

[2014-08-04 05:02] #30 closed, assigned to nobody

[2014-08-04 12:17] jmls opened #31 "unable to put / post data"
I've installed the standard example app (using yo loopback:example ).

using the explorer, the get and delete examples work well.

However, trying to use put or post  nothing happens, and this error appears in the dev console:

Uncaught TypeError: undefined is not a function shred.bundle.js:2034
Object.defineProperties.processor.get shred.bundle.js:2034
Object.defineProperties.body.get shred.bundl

[2014-08-04 14:38] #31 closed, assigned to nobody

[2014-08-05 00:11] clark0x opened #32 "model and model schema don't show details of nested attributes, only "modelconstructor""
Currently, the detail of array attributes and object attributes don't show on the API Explorer.

[code]

Model on API Explorer:

[code]

Model Schema on API Explorer:

[code]

[2014-08-06 20:31] ritch opened #34 "Params not properly added from the UI"
[code]

When using a model like this with a simple remote method, the UI doesn't properly add the `msg` param to the request.

[2014-08-08 14:44] #6 closed, assigned to nobody

[2014-08-08 15:53] cajoy opened #35 "Explorer shows disabled routes/methods"
In my app.js I remove

[code]

So all models are not exposed over REST but Explorer still shows "default" REST routes. It should be hidden as routes are unavailable.

[2014-08-08 22:36] #32 closed, assigned to nobody

[2014-08-12 18:48] #8 closed, assigned to nobody

[2014-08-13 07:55] bajtos opened #39 "Incorrect model used for "hasMany through" relation methods"
Consider the example of HasManyThrough relationship described in [docs](http://docs.strongloop.com/display/LB/HasManyThrough+relations):

In the explorer UI, the route `POST /patients/{id}/physicians` shows Appointment instead of Physician as the expected request model.

![screen shot 2014-08-13 at 9 54 56](https://cloud.githubusercontent.com/assets/1140553/3902528/2b4a75b6-22bf-11e4-8105-d3a7900a

[2014-08-13 12:20] fabien opened #40 "Client-side Uncaught TypeError with accept type: 'array' arguments"
Consider:

[code]
Uncaught TypeError: Cannot read property '$ref' of undefined at swagger.js line 710

[2014-08-16 00:46] clark0x opened #41 "Polymorphic belongsTo relation cause explorer fails to mount"
common/models/comment.json

[code]

[code]

[2014-08-27 05:54] Coobaha opened #43 "expose validation object to resources/Model"
Please check this PR https://github.com/strongloop/loopback-datasource-juggler/pull/259

So we can expose this validation object as json  to explorer as for example (:
[code]
and we will get something like this
![image](https://cloud.githubusercontent.com/assets/2446638/4055858/6ffc0508-2daf-11e4-82e4-b66b979cdc8c.png)

but we need to take care about RegExp and other objects transformed to json fo

[2014-08-31 13:58] #41 closed, assigned to nobody

[2014-09-04 01:23] kraman opened #46 "Swagger UI breaks when using a http context argument in a remote method"
Defined a remote method as:

    this.remoteMethod('foo', {
      isStatic: false,
      http: [
        {path: '/foo', verb: 'get'},
        {path: '/foo', verb: 'post'},
        {path: '/foo', verb: 'put'}
      ],
      accepts: {arg: 'ctx', http: {source: 'context'}}
    });

causes swagger UI to report an error on JS console and stop responding properly:
[code]

/cc @ritch

[2014-09-05 10:14] MartinBucko opened #47 "Remember Access Token"
It will be very very helpful when explorer remember access token after page was reloaded. Maybe store token in cookies. For example when i change my model configuration i need to reload explorer and always to set token  again.

Many thanks guys!

[2014-09-05 18:05] crandmck opened #48 "REST API root "/" not handled properly"
If you set ` "restApiRoot": "/",` in `config.json` Explorer does not handle it properly.

http://screencast.com/t/Z4pDmegA3

Explorer tries to go to `http:// localhost:3000//books`

[2014-09-19 15:13] dashby3000 opened #49 "TypeError: Cannot read property 'name' of undefined"
I get a TypeError: Cannot read property 'name' of undefined when I do the following:

Added `var tools = require('./tools');` to `server.js`

The `tools.js` file contained:
Array.prototype.containsId = function(needle) {
   for (i in this) {
       if (this[i] == needle) return true;
   }
   return false;
}

Array.prototype.containsDroneId = function(needle) {
   for (i in this) {
       if (i ===

[2014-09-22 16:03] #49 closed, assigned to bajtos

[2014-09-29 12:10] bajtos opened #51 "Config options - disable UI, disable Swagger"
There should be an easy way how to disable explorer (either UI only or everything) when running in production.

A possible solution: add two new properties to the option object used by middleware factory function.

These two new properties then can be configured either from `server/boot/explorer.js`, or using the upcoming component infrastructure (see https://github.com/strongloop/loopback-example

[2014-10-07 07:57] STRML opened #54 "Update to Swagger spec v2"
I think we should wait a few weeks on this anyway because there's some instability (like a recent bug in swagger-ui that defaulted all routes to GET regardless of their verb), but eventually we'll want to update loopback-explorer's JSON output to [Swagger v2](https://github.com/wordnik/swagger-spec/blob/master/versions/2.0.md).

[2014-10-07 08:58] #35 closed, assigned to nobody

[2014-10-09 20:18] ritch opened #57 "Honor X-Forwarded-Proto [GoDaddy]"
See https://github.com/shelbys/strong-remoting/commit/c049f134214e0c42ce65c77483feeb15df79b9d9 for a fix

[2014-10-15 10:46] marcellodesales opened #63 "Examples not working"
Hi there,

First of all, this is an awesome project! I was looking for a Swagger client like yours!!! Super cool! I was looking for the similar project as http://docs.strongloop.com/display/LB/Create+a+simple+API#CreateasimpleAPI-Createnewapplication.

So, I tried running the examples and they don't seem to work... The explorer does NOT expand the APIs for the "Product" or "User" example....

![sc

[2014-10-16 08:21] #63 closed, assigned to nobody

[2014-10-16 13:44] bajtos opened #66 "Extension hook: custom swagger-ui [GoDaddy]"
Many loopback-explorer users want to tweak the appearance of Swagger UI, see
 the discussion in [#52](https://github.com/strongloop/loopback-explorer/pull/52#discussion_r18873998) for an example.

To accommodate such users, loopback-explorer should provide a configuration option allowing users to provide their own version (fork) of swagger-ui.

[2014-10-17 20:41] superkhau opened #67 "Remote method does not show up in swagger"
1. If you create a remote method in a boot (`server/boot/your-script.js`) script, it does not show up in the explorer.
2. If you create a remote method in `server/server.js`, it does not show up in explorer.

For point 1, @raymondfeng suggested you can get around it by make sure your script loads first (like changing `your-script.js` to `a.js` to make sure it loads first). I confirmed the workarou

[2014-10-21 01:02] #67 closed, assigned to nobody

[2014-10-22 17:00] #28 closed, assigned to nobody

[2014-10-23 18:16] #57 closed, assigned to bajtos

[2014-10-24 17:29] #66 closed, assigned to bajtos

[2014-11-02 07:46] HansHammel opened #71 "Cannot read property 'name' of undefined (again)"
I just updated to the latest version and got

<pre><code>
TypeError: Cannot read property 'name' of undefined
    at generateModelDefinition (C:\bla\node_modules\loopback-explorer\lib\model-helper.js:24:19)
    at Object.generateModelDefinition (C:\bla\node_modules\loopback-explorer\lib\model-helper.js:110:7)
    at Object.module.exports.generateAPIDoc (C:\bla\node_modules\loopback-explorer\lib\cl

[2014-11-10 11:38] gengen1988 opened #74 "Google Font timeout in local area network"
It cause me waiting 30 seconds until it timeout. I don't think a stylish typography is useful for developers.

[2014-11-10 13:02] STRML opened #75 "Restore `type` attributes on operations object to remain compliant with 1.2 spec."
Discussion migrated from [this commit comment](https://github.com/strongloop/loopback-explorer/commit/d05dcb71df55998851c7e822fcf0b6c7520f161c#commitcomment-8500160).

As mentioned on [this swagger-spec issue](https://github.com/swagger-api/swagger-spec/issues/197#issuecomment-62371935), this is required to be compliant with the spec but simply not quite clearly worded.

I don't think we should pu

[2014-11-15 07:04] HansHammel opened #76 "length of undefined error on timeout"
I came across the case where my server wasn't responding to put requests and noticed the api-explorer has no or a huge timeout on api calls. I was wondering it took so long, didn't expect it had no timeout. Well, the actual bug I wanted to report is:

	PUT http://blabla:3000/api/pages/273541696466681878 net::ERR_EMPTY_RESPONSE shred.bundle.js:2608
	Uncaught TypeError: Cannot read property 'length'

[2014-11-29 11:10] #71 closed, assigned to bajtos

[2014-12-01 10:25] #74 closed, assigned to bajtos

[2014-12-05 22:22] sam-github opened #79 "use of require('lodash.X') bloats the dependency tree"
Would you accept a PR to switch over to using lodash directly, basically converting `require('lodash.clonedeep')` to `require('lodash').cloneDeep`?

Using the lodash.X modules doesn't save diskspace,lodash is < 1M, and loopback-explorer ends up depending on ~3M of lodash dependencies by using the individual modules. It also effects install time, because npm ends up downloading and installing 136 (

[2014-12-05 22:23] #79 closed, assigned to nobody

[2014-12-12 12:56] #75 closed, assigned to STRML

[2014-12-23 23:31] superkhau opened #81 "`uiDirs` should take a String or Array"
As per discussions with @dashby3000 and @chandadharap, we should allow a String value for a single static dir or an Array of paths for multiple static dirs.

[2015-01-06 06:06] fehguy commented on #76
I cannot seem to reproduce this.  If you can help provide a test case or server configuration that causes it, please feel free to add details:  https://github.com/swagger-api/swagger-js/issues/187

[2015-01-06 06:30] bajtos commented on #76
I am closing the issue then. @HansHammel feel free to reopen if you can provide details on how to reproduce the problem.

[2015-01-06 06:30] #76 closed

[2015-01-06 17:41] #47 closed

[2015-01-07 14:09] marcopeise commented on #48
same problem here. got a workaround within loopback-boot/lib/executor.js:
[code]

[2015-01-07 14:41] bajtos commented on #48
@marcopeise would you mind submitting a pull request to fix the problem?

It may be enough to use `urlJoin` instead of string concatenation on [lib/swagger.js#L175](https://github.com/strongloop/loopback-explorer/blob/9a9b7899a08557ea76cef091070ad73a9c90ad9f/lib/swagger.js#L175).

[2015-01-07 20:00] marcopeise commented on #48
@bajtos well, host + initialPath is still valid when used urlJoin. (i.e.: "http://localhost:3000/")
couldn't find the right code where basePath and routePath where joined. but submitted the workaround as pull request.

[2015-01-07 22:52] ritch commented on #81
Next time just assign the PR to me then it will show up in my review queue. Keep the issue assigned to yourself.

[2015-01-08 01:56] superkhau commented on #81
Sounds good.

[2015-01-08 01:58] #81 closed

[2015-01-09 12:43] bajtos commented on #48
To be honest, this looks like a swagger UI bug to me. LoopBack returns the following fields:

[code]

It is the Swagger UI that concatenates `basePath: 'http://127.0.0.1:62232/'` with  `resourcePath: '/resources'` to produce the final value `http://127.0.0.1:62232//resources`.

A workaround for loopback-explorer is to modify the code building `basePath` to remove any trailing slashes.

[2015-01-09 12:48] bajtos commented on #48
Hang on, the conclusion I made above is not correct. I need to investigate this little bit more.

[2015-01-09 12:56] bajtos commented on #48
Actually I was correct, I have amended my comment.

[2015-01-09 13:36] bajtos commented on #48
The swagger issue: https://github.com/swagger-api/swagger-js/issues/201

[2015-01-09 13:38] bajtos commented on #48
The Swagger UI issue: https://github.com/swagger-api/swagger-ui/issues/819

[2015-01-09 13:47] #48 closed

[2015-01-09 13:48] bajtos commented on #48
The fix was released as `loopback-explorer@1.6.4`

[2015-01-16 08:10] bajtos commented on #46
Fixed by https://github.com/strongloop/loopback-explorer/pull/60

[2015-01-16 08:10] #46 closed

[2015-01-17 19:59] nhagen commented on #54
Any update on this?

[2015-01-20 15:53] bajtos commented on #54
@nhagen I am afraid upgrading to 2.0 is not a priority for us at the moment. Can you contribute the upgrade yourself?

[2015-01-21 17:57] oakley808 commented on #51
+1

[2015-01-21 18:04] bajtos commented on #51
@ricardohbin @oakley808 Can you contribute this feature yourself?

[2015-01-23 02:06] mamboer opened #85 "duplicated stylesheets in index.html"
reset.css and screen.css are duplicated in index.html

[2015-01-23 02:25] superkhau commented on #85
Good catch, could you submit a PR?

[2015-02-15 01:54] gengen1988 commented on #74
Swigger UI now have font cache itself. Need pull request?

[code]

[2015-02-18 14:21] bajtos commented on #74
That is true for the upcoming 2.1 version. However, we are still at 2.0, which includes the external font in index.html. See yourself: https://github.com/swagger-api/swagger-ui/blob/v2.0.24/dist/index.html

The good news is that loopback-explorer overrides the CSS style and replaces the font-family "Droid Sans" with "Ubuntu", thus there is no reason to load the Droid Sans font in index.html.

Not

[2015-02-19 04:39] gengen1988 commented on #74
Ubuntu, Native font? Tested on Windows and just seeing Arial. But it is OK. Finally no 30s timeout, lol

[2015-03-02 09:13] bajtos commented on #51
On the second thought, I don't think it makes sense to disable the UI while keeping the Swagger metadata available. With metadata available, one can run an own copy of the Swagger UI (e.g. via  http://petstore.swagger.io/) and configure it with the Swagger metadata provided by the LoopBack server.

See also https://github.com/strongloop/loopback/issues/1134, it points out a similar problem.

Here

[2015-03-02 16:54] raymondfeng commented on #51
@bajtos With your proposal, do we need to change the loopback-explorer code to accept the config object and decide if itself should be disabled?

[2015-03-02 17:15] bajtos commented on #51
No, loopback-explorer does not need to be changed, this feature will be handled by loopback-boot. That's why I am proposing `loopback-explorer: null` as opposed to `loopback-explorer: { enabled: false }`.

[2015-03-02 17:19] raymondfeng commented on #51
OK, so if `loopback-explorer: null` or `loopback-explorer: false` is configured, `loopback-boot` doesn't even bother to load the `loopback-explorer` component, right? If so, I'm +1.

BTW, we should consider to use this convention to `remove/disable` properties inherited from base models.

[2015-03-02 17:20] bajtos commented on #51
Yes, that's the plan

I am fine with that, thought it's completely out of scope of this issue.

[2015-03-02 21:58] ricardohbin commented on #51
surely @bajtos, I can give a look at this ;)

[2015-03-10 12:36] bajtos commented on #51
The loopback-boot change has been landed via https://github.com/strongloop/loopback-boot/pull/103, let me know if it works for you.

[2015-03-25 00:55] jingood2 opened #91 "Uncaught TypeError: Cannot read property 'length' of undefined"
I am testing remote hook with 'loopback-getting-started-intermediate' & loopback-faq-model-hooks  examples.

I came across the case where my server wasn't responding to delete requests. delete action is done, but i can't catch a remote hook for destroy method.  I think you can produce it.

Well, the actual bug I wanted to report is:

Uncaught TypeError: Cannot read property 'length' of undefined (

[2015-03-25 03:05] #91 closed

[2015-03-25 03:06] jingood2 commented on #91
Instead of remote hook, I changed operation hook, it works.

[2015-04-02 17:39] ritch opened #92 "Upgrade the Swagger UI"
It would be nice to get a newer swagger UI in the explorer. The one we have now is incredibly old.

**Edit: ok its not that old... but still.**

I'm guessing the following people will be interested in this (please chime in if you have specifics):

@bajtos @raymondfeng @shelbys @STRML

[2015-04-02 17:51] bajtos commented on #92
Not that old, 2.0.24 was released on Sep 13, 2014. The 2.1 version is still not done, the latest release is 2.1.0-M2.

[2015-04-03 00:33] dashby3000 commented on #92
Yes, this will have a big effect on the GoDaddy implementation.  We should talk about the changes.

[2015-04-03 00:35] shelbys commented on #92
@ritch - FYI, our fork is already on 2.1.3, so it may be best to just backstitch our changes, see: https://github.com/shelbys/swagger-ui/blob/master/package.json

[2015-04-03 01:00] shelbys commented on #92
@ritch - My mistake, ours is based on `2.0.23`.  The other version bumps have been for local additions

[2015-04-10 17:56] alexxgathp opened #93 "orderBy vs order typo?"
For example, in the Strongloop API explorer, it lists "orderBy" as an option in find or findOne,
however, it only works when I enter "order".

[2015-04-10 18:00] raymondfeng commented on #93
It's a typo

[2015-04-10 18:04] raymondfeng commented on #93
https://github.com/strongloop/loopback/commit/b4c487b191c9b58834dd1a37c3682acf5e38443a

[2015-04-10 18:04] #93 closed

[2015-04-11 21:07] mattwoolnough opened #94 "Filters not creating valid queries"
entering a simple filter in explorer 1.7.2.

[order]=ts DESC

explorer populates query as:
http://localhost:3000/api/Entry?filter=[order]=ts DESC&filter[limit]=1
instead of:
http://localhost:3000/api/Entry?filter[order]=ts DESC&filter[limit]=1

resulting in 400 error.

Also, on a more minor note explorer lists
Filter defining fields, where, orderBy, offset, and limit
instead of
Filter defining fie

[2015-04-12 00:31] raymondfeng commented on #94
In the explorer, you need to provide the filter value as stringified json.

Sent from my iPhone 6 Plus

[2015-04-13 04:25] mattwoolnough commented on #94
It works perfectly using the square brackets style too if you remove the unnecessary equals symbol.

[2015-04-21 15:03] bajtos commented on #94
I am afraid this is a limitation of Swagger UI that we are not going to fix.

You should compose the filter argument as JSON:

[code]

[2015-04-21 15:03] #94 closed

[2015-04-21 15:37] OwenBrotherwood commented on #54
Is there a use case for the nee for Swagger v2.x?
It is possible for loopback to use a v2.x ie v2 spec to remoting metadata.
It is possible for loopback to present a v1.x so that other software can use the api.
Some common software still have not "upgraded" to use Swagger v2 eg postman so it looks like the priority for v2 is correct....

[2015-04-21 15:50] bajtos commented on #54
LoopBack uses it's own format for describing remoting metadata. loopback-explorer converts from this custom format to Swagger spec.

I suppose we could support both 1.x and 2.x versions of Swagger spec, either expose each version on a different URL, or provide a configuration option so that the developer calling loopback-explorer can decide which version to use.

[2015-04-21 15:55] OwenBrotherwood commented on #54
Unless someone has a good use case, there doesn't seem any reason to expose 2.x
I was just wondering if there was a good use case.
Until there comes some world dominating piece of software that will only use 2.x, 1.x looks ok.

[2015-04-21 17:47] nhagen commented on #54
I think this might have originally been an issue for me because I wanted to use swagger-js, which IIRC is 2.0 only right now. I don't remember off the top of my head, however.

My view: If loopback is offering Swagger support as a feature that attracts users, those users are going to expect that it will work with other swagger tools. If there is are no plans to support mainline/future Swagger, it

[2015-04-21 18:03] raymondfeng commented on #54
LoopBack can enhance the endpoint to expose swagger 2.0 spec in addition to 1.2. The spec generator can potentially produce different versions per client request.

It should not be too hard to add the 2.0 support. Contributions are welcome!

[2015-04-23 06:22] bajtos commented on #40
The type string `array` is not a valid value, you should use `['object']` instead. See http://docs.strongloop.com/display/LB/LoopBack+types#LoopBacktypes-Arraytypes

[2015-04-23 06:31] bajtos commented on #40
I created a new issue to discuss `type: 'array'` support - see https://github.com/strongloop/loopback/issues/1327

[2015-04-29 00:51] simonguest opened #97 "Add option to support authorization header instead of query params for access tokens"
Currently, access tokens (set in the top right of the explorer) are passed as query parameters (e.g. /api/test?access_token=1234).

Many exposed APIs, especially those using OAuth, should pass this token as an authorization header (e.g. token would be set in UI as normal, but would be passed as OAuth or Bearer authorization header).

It would be great to have an option in explorer to support this.

[2015-05-06 07:52] bajtos commented on #40
Fixed by https://github.com/strongloop/strong-remoting/pull/210, please upgrade your app to use `strong-remoting@2.17.0`.

[2015-05-06 07:52] #40 closed

[2015-05-14 13:31] cajoy opened #98 "Hide properties per method."
Explorer/Models should allow to hide/show properties per method.

For example POST /book will auto-generate ID property. So ID should not be available as property in POST method.

[2015-05-14 23:50] tallboy commented on #97
+1 from me.  I'm proxy-ing some API requests to another api that wants an Authorization header using an OAuth2 header.  It's rendered the Loopback Explorer pretty much useless to me and I'm forced to use Paw to test APIs.  Is there a Loopback feature that lets someone expose headers to send with requests i.e. set / add `req.headers` to requests coming from the loopback-explorer?

[2015-05-14 23:55] STRML commented on #97
I agree that this should be an option; until then, you can add it yourself:

Initialize loopback-explorer with the option:

[code]

Then create a folder `./swagger` and add a new `index.html`. Then you can add any scripts you like to the init. Swagger runs [Shred](https://github.com/pandastrike/shred) for AJAX, I'm sure there's some sort of preauth hook you could use. Have it check `window.authori

[2015-05-15 00:05] tallboy commented on #97
Sweet... Thanks @STRML! I'll play around with it and let you know how it goes.

[2015-06-02 14:29] bajtos commented on #98
Hi @cajoy, thank you for reporting this idea. Do you happen to know if Swagger spec and Swagger UI support this feature?

[2015-06-03 03:56] mhamann opened #100 "Naming a Loopback model `api` breaks the Loopback Explorer"
If I name one of my models `api`, the explorer will no longer expand / collapse any API groups, so no APIs can be seen or tested within the explorer.

This is potentially just an issue within Swagger UI. I haven't checked that angle.

Example model `api.json`

[code]

[2015-06-21 00:19] fadeojo commented on #54
I think loopback has set a great standard for Nodejs frameworks and swagger 2.0 should be supported. I have tried to convert the swagger 1.2 Api declaration to 2.0 with no success (swagger tools). Please add support for 2.0. I will try and put in my two cents but I'm still learning. Thanks.

[2015-06-23 12:17] chinookproject opened #101 "Can't properly create fields filter from Explorer"
The [Docs](http://docs.strongloop.com/display/public/LB/Fields+filter;jsessionid=38E493C55C78BBB41A29BAD756A12112) say that if you want to include or exclude a field from a resource then one have to create a filter like this:

[code]

However, there is no way to create this filter from the UI, because it always appends an equeal sign after `filter`. Resulting in this query string:

[code]

[2015-06-23 18:03] STRML commented on #54
FYI, the [advert page at strongloop.com](https://strongloop.com/node-js/api-platform/) says Loopback generates Swagger 2.0 documentation, which is not true.

[2015-06-30 15:10] adnanshatil opened #103 "File upload feature in explorer (nice to have)"
We can create API for file upload and download. But there is no way to test it from explorer.
It'd be nice to have that feature.

Right now there is an example with angular but that requires some work.

Sorry, if it is already duplicated.

[2015-07-01 17:00] ritch opened #105 "Support default status codes"
The generated swagger spec should include status codes sourced from the `sharedMethod.http.status` / `sharedMethod.http.errorStatus`, see https://github.com/strongloop/strong-remoting/pull/218.

Although I'm not sure how the mapping should look exactly...

[2015-07-07 10:00] gausie commented on #103
+1

There seems to be a dataType in the newest swagger-ui for `file`, so this shouldn't be too difficult.

[2015-07-07 10:15] fabien opened #106 "Explorer unusable because of Uncaught TypeError(s)"
I cannot use Explorer anymore (no sections open), because swagger.js trips over parameters without a type declaration (string value). More specifically on line 734 (SwaggerOperation):

[code]

This can be traced back to the following declarations, which I'm why this is the case:

[code]

(Payment is a custom model, not based on PersistantModel)

[code]

[2015-07-13 14:06] danielrvt opened #109 "Custom routes in bootscripts"
It would be nice if we had a way to add custom routes defined in a bootscript to the explorer.
It would also be nice if we could specify some options like params, headers, response and a description to the explorer.

[2015-07-14 10:42] Kampfgnom commented on #54
:+1: Is someone working on this? I will try to find the time to look into it, but that won't be in the next few days or even weeks.

[2015-07-23 17:34] #92 closed

[2015-07-29 09:03] gausie opened #110 "Support OPTIONS verb"
Although OPTIONS is supported in screen.css by swagger-ui, it is not currently supported by loopback-explorer.

[2015-07-30 18:14] ritch opened #112 "Compare Swagger UI 1.0 and 2.0"
We are planning on upgrading to the latest version of the swagger-ui. Since we added several UI enhancements, we need to do a comparison of our swagger-ui 1.x fork and the current swagger-ui 2.x.

The two major UI additions I am aware of are:

 - visualizing response models
 - visualizing validation / json schema restrictions

Even if these are not implemented in in the swagger-ui 2.0, we are stil

[2015-08-03 17:27] raymondfeng commented on #54
We're starting to look into it.

[2015-08-03 20:41] chandadharap commented on #112
Dup of strongloop-internal/scrum-loopback#412

[2015-08-03 20:41] chandadharap commented on #112
closing.

[2015-08-03 20:41] #112 closed

[2015-08-11 11:07] sachinhub commented on #54
We are trying to publish API generated via loopback onto wso2 publisher. WSO2 publisher version 1.9 can import API from swagger URL. It expects it to be 2.0 specs.

Any update on when we can expect swagger 2.0 spec URL in loopback from timeline perspective?

[2015-08-21 17:06] bajtos commented on #54
FYI: I've just submitted a pull request implementing Swagger Spec 2.0 generator for code review, see https://github.com/strongloop/loopback-explorer/pull/115

[2015-08-25 11:47] bajtos opened #116 "2.0 leftovers"
List of loopback-explorer improvements to possibly implement on top of https://github.com/strongloop/loopback-explorer/pull/115:
- [x] sort routes - model routes first, relation routes next
- [ ] Support built-in models:
  - [x] MongoDB's ObjectID
  - [x] GeoPoint
  - [ ] ReadableStream (as a File?) - needs a spike
- [ ] Add a config option to specify global security definition
  object https://gi

[2015-08-31 09:00] bajtos commented on #54
The patch has been landed. I'd like to make few more cleanups and improvements before making a new release. You can `npm install strongloop/loopback-explorer` to try the new version before it's released to npm.

[2015-08-31 09:00] #54 closed

[2015-09-08 11:22] hacksparrow opened #120 "Swagger validation error when running on 0.0.0.0"
<img width="998" alt="screen shot 2015-09-08 at 4 47 58 pm" src="https://cloud.githubusercontent.com/assets/950112/9733532/a2962b9c-5649-11e5-80f5-fa9fbb9e61c4.png">

Clicking on the ERROR box, opens `http://online.swagger.io/validator/debug?url=http://0.0.0.0:3000/api/swagger.json`, with the following message:

[code]
`package.json`:
[code]

[2015-09-08 14:57] bajtos commented on #120
That's expected, the server running at `online.swagger.io` cannot access the application running on your local machine.

You can run swagger-badge locally to check your local application, see [the instructions in project's README](https://github.com/swagger-api/validator-badge#running-locally).

[2015-09-08 15:00] bajtos commented on #120
@hacksparrow where is the validator badge coming from? I can't see it in loopback-explorer@2.0.0 installed from npmjs.

[2015-09-08 15:01] bajtos commented on #101
In the explorer, you have to encode the filter value as a json.

[code]

[2015-09-08 15:01] #101 closed

[2015-09-08 15:01] bajtos commented on #105
:+1:

[2015-09-08 15:04] bajtos commented on #103
:+1:

There is a catch though: at the moment, we don't have a good way how to say that a remote method accepts/returns a file. We need to improve strong-remoting to support files - see https://github.com/strongloop/strong-remoting/issues/35

[2015-09-08 15:09] bajtos commented on #109
@danielrvt this is interesting idea. Could you please provide an example of such route? Is there any particular reason why your route is not implemented as a remote method via strong-remoting?

[2015-09-08 15:11] bajtos commented on #110
I believe this should be fixed in v2.0.0. Please reopen the issue if the problem is still present.

[2015-09-08 15:11] #110 closed

[2015-09-08 18:52] JinpaLhawang commented on #120
We've witnessed this in our app since updating from loopback-explorer 1.1.0 to 2.0.0. We don't have a swagger.json file in our project. This error displays in the lower right corner and when clicked it opens http://online.swagger.io/validator/debug?url=http://0.0.0.0:3000/explorer/swagger.json with the response:
[code]

I guess swagger.json was not required before and now is?

[2015-09-09 00:57] safounder opened #121 "Hide port number"
Hi there,

Just want to know is there way that i can hide the port number?
i got a domain  www.web.com will normally host static content.
and i want to use api.web.com as loopback server.
But at this moment, i only can use api.web.com:3000, can't use 80 because 80 is already in use.

Thanks.

[2015-09-09 01:13] superkhau commented on #121
Unfortunately, this issue has nothing to do with LoopBack itself. You will probably need to do more research into setting up a web server to proxy requests from port 80 to `localhost:3000`. It's also different depending on the OS you're using. I suggest looking up how to do this on Google (you can try it without LoopBack to make sure it works).

[2015-09-09 01:13] #121 closed

[2015-09-09 01:14] safounder commented on #121
Great, thanks.

[2015-09-09 03:35] kesavkolla opened #122 "loopback-explorer is no longer exposes as express router"
The loopback standard example expects loopbac-explorer as express middle ware.

The explorer.js has the following code:
`
var explorer = require('loopback-explorer');
var explorerApp = explorer(server, {
        basePath: restApiRoot
    });
server.use('/explorer', explorerApp);
`
This is failing with error saying explorerApp is undefined.

[2015-09-09 03:41] superkhau commented on #122
Did you try using the latest Loopback (ie. `npm install -g strongloop)? Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-09-09 03:44] superkhau commented on #122
I just scaffolded a new project, I don't see the error. Can also you provide the steps to reproduce?

[2015-09-09 03:48] kesavkolla commented on #122
Here is the code in my server/boot/explorer.js

[code]

[2015-09-09 03:51] superkhau commented on #122
I don't see `use strict` in the default explorer scaffolded by LB. Did you add this? Try scaffolding a new project via `slc loopback` locally and tell me if you still see the error.

[2015-09-09 03:58] kesavkolla commented on #122
The standard `slc loopback` is using the loopback-explorer 1.x version.  I'm using loopback-explorer 2.x version that is where it's failing.

I just updated the regular scaffold and changed `package.json` with `"loopback-explorer": "*"`.  This is when it fails.

[2015-09-09 04:23] raymondfeng commented on #122
2.x uses a different api. See https://github.com/strongloop/loopback-explorer#upgrading-from-v1x.

[2015-09-09 04:23] #122 closed

[2015-09-09 12:49] bajtos commented on #120
@JinpaLhawang do you perhaps provide custom copy of swagger-ui to the loopback-explorer module?

Could you please create a sample project reproducing the problem which I can use to troubleshoot this on my machine? See [wiki instructions](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report).

[2015-09-09 12:51] bajtos commented on #120
Never mind, I am able to reproduce this locally too. It's important to use `0.0.0.0` as the hostname. It seems that swagger-ui detects `localhost` and does not show the badge in such case, but it fails to recognise `0.0.0.0` as a local address too.

[2015-09-09 12:54] bajtos commented on #120
Here is the code detecting `validatorUrl`: https://github.com/swagger-api/swagger-ui/blob/8e72906c911a02853b87f5241d157e83e2bf7377/src/main/javascript/view/MainView.js#L57-L71

Is there any volunteer to fix the issue and submit a pull request to swagger-ui project?

[2015-09-09 15:39] raymondfeng commented on #120
Please note 0.0.0.0 is not a valid localhost ip on Windows.

[2015-09-09 16:15] hacksparrow commented on #120
Also, a simple check for `0.0.0.0` would not suffice. It should detect any IP address within all the possible private IP blocks - `192.168.0.0-192.168.255.255`, `172.16.0.0-172.31.255.255`, and `10.0.0.0-10.255.255.255`.

[2015-09-09 16:45] bajtos commented on #120
I don't think it's possible to implement a fully bullet-proof check - consider the case when your API is served from an internal host `http://intranet/explorer`, which is mapped by your on-premise DNS to a private IP address.

Perhaps we could modify loopback-explorer to always pass `swaggerOptions.validatorUrl: null` and thus always disable the badge?

Optionally we could add loopback-explorer se

[2015-09-09 16:47] STRML commented on #120
Well, if the explorer loads, `swagger.json` must be reachable from the client. So why don't we just read this error and ignore it by removing the badge?

[2015-09-09 16:52] bajtos commented on #120
@STRML I think this is a different problem - it's about the site `online.swagger.io` not able to access `swagger.json` served by the LoopBack app running on your local machine.

[2015-09-09 17:36] hacksparrow commented on #120
@bajtos you've got a point there.

I think the badge should be enabled only via an explicit config option, not by default.

[2015-09-09 18:02] STRML commented on #120
@bajtos What I mean is, we can't get this validation to work if the swagger.json isn't reachable from the online validation service. So we want to hide the badge if it errors. So let's just specialcase this error.

[2015-09-10 08:57] bajtos commented on #120
AFAICT, the badge is implemented as an image fetched from the validation services, so it's not possible to tell why the validation failed:

[code]

However, the debug endpoint returns a nice JSON which we could use to check whether swagger.json is reachable.

[code]

There is still a catch though: when running in a corporate environment behind a strict firewall, access to `online.swagger.io` may b

[2015-09-10 13:41] STRML commented on #120
That seems fine. I think the right thing to do is to place the image ourselves by storing the variants locally and displaying it based on a hit to their API, rather than having them handle the image display.

Otherwise, the mechanism you describe will basically double-hit their API (once for the check, once for the image). But I would hope they're caching results.

[2015-09-14 21:36] crandmck opened #123 "Rename to follow component naming convention"
Should this module be renamed to loopback-component-explorer to match the naming convention used by the other LB components:
- loopback-component-push
- loopback-component-storage
- loopback-component-passport
- loopback-component-oauth2

Is there a counter-argument for doing so?

**Tasks**
 - [x] #125 rename the module
 - [x]  strongloop-internal/ci-infrastructure#15 update Jenkins configuration

[2015-09-15 09:09] bajtos commented on #123
- loopback-component-push
- loopback-component-storage
- loopback-component-passport
- loopback-component-oauth2

I'm fine with both loopback-explorer and loopback-component-explorer.

@raymondfeng @ritch @superkhau @altsang @ijroth Thoughts?

[2015-09-15 15:51] altsang commented on #123
:+1: I think that makes a lot of sense

[2015-09-15 16:33] superkhau commented on #123
Those renames make sense to me.

+1

[2015-09-15 16:35] raymondfeng commented on #123
I'm fine with `loopback-component-explorer` or `loopback-explorer`.

[2015-09-16 00:41] ritch commented on #123
I want `loopback-component-*` to have some significance for information architecture purposes. If you can load it using `boot()`s component loader, it should have that designation. I'm fairly certain this is true for explorer, so +1 from me.

[2015-09-16 20:17] ritch opened #124 "List remote method names"
We should make it easier for developers to map APIs to actual remote methods. I think listing this in the UI would be enough.

/cc @crandmck

[2015-09-16 20:48] crandmck commented on #123
I renamed the module in GitHub, and above PR is for other related changes.

[2015-09-17 23:44] crandmck commented on #123
Re

I will do this, but I would like to summarize what it takes for a module to be a component so I can explain clearly why we renamed it.

I asked this on Slack, but got no response.
@bajtos @raymondfeng @ritch

Also, should we create issues to track the work required to make the other "wannabe" components into ​_actual_​ components?

[2015-09-18 06:04] hacksparrow commented on #120
@bajtos how about we do this?

[2015-09-18 15:55] bajtos commented on #123
The bare minimum is to export a `function(app, options)` as the main module export, that's the API contract. I don't think there are any other requirements/constraints.

[2015-09-18 15:56] bajtos commented on #123
Compare that with express middleware, which exports `function(options)` that is supposed to return a `function(req, res, next)` or `function(err, req, res, next)`.

[2015-09-18 23:03] crandmck commented on #123
OK, posted https://groups.google.com/forum/#!topic/strongloop/dB7hyw6ErdU.

[2015-09-21 13:59] cebor opened #126 "Swagger: skipping unknown type "ObjectID"."
Since i upgraded to the new explorer i get following error/warning when starting my app:

[code]

I followed the migration guide in the README.

My app: https://github.com/loggrio/loggr-api

[2015-09-21 14:36] bajtos commented on #120
Sounds good to me.

We can always implement a more elaborate solution (e.g. as proposed by @STRML in https://github.com/strongloop/loopback-component-explorer/issues/120#issuecomment-139237550) later, when there is a volunteer with enough free time.

[2015-09-21 15:49] raymondfeng commented on #126
@bajtos What does MongoDB ObjectID mapped to swagger? It probably should be string.

[2015-09-21 15:52] bajtos commented on #126
Here is what I think should be done about this issue:

 - Run the app against loopback-explorer@1.x and 2.x, compare the generated model definitions.
 - Fix loopback-swagger to generate appropriate type for ObjectID, e.g. a string as @raymondfeng suggested.

[2015-09-21 16:34] bajtos commented on #124
@ritch I am not sure if I understand your request. Are you asking the swagger generator and/or the explorer UI to include the remote method name (e.g. `create`) in the description of its route (e.g. `POST /Cars`)?

[2015-09-21 16:34] bajtos commented on #124
FWIW, I believe the swagger metadata already includes remote method name as the route `id`.

[2015-09-21 19:15] ritch commented on #124
Yes just displaying it in the user interface

[2015-09-21 21:24] crandmck commented on #124
+1 I think that's a great suggestion.

[2015-09-23 14:25] alexthewilde commented on #126
+1

[2015-09-29 16:50] bajtos commented on #120
Is there any volunteer willing to contribute the fix outlined in https://github.com/strongloop/loopback-component-explorer/issues/120#issuecomment-141354013?

[2015-09-29 18:28] hacksparrow commented on #120
@bajtos I'll take it up.

[2015-09-30 20:30] crandmck commented on #123
Currently working on https://github.com/strongloop-internal/scrum-loopback/issues/495

[2015-10-01 09:09] #120 closed

[2015-10-01 09:11] bajtos commented on #120
The fix is available in `loopback-component-explorer@2.1.1`

[2015-10-04 20:51] steve8708 commented on #126
+1, would love to get rid of this error message :)

[2015-10-07 14:52] rootical commented on #126
Guys, please fix this :+1:

[2015-10-07 16:31] bajtos commented on #126
@rootical `skipping unknown type "ObjectID"` is just a warning, it's almost certainly unrelated to the error you are seeing later.

[2015-10-08 21:27] cebor commented on #126
@bajtos yes it is just a warning, but also all schemas with ObjectId or a ForeignKey are not correct.

Example: http://loggr.stkn.org/explorer/#!/Metering/Metering_create

The Metering model in the example should have an Id, and two ForeignKeys, which not appear in the Schema.

[2015-10-09 08:51] clarkorz opened #129 "the explorer fetches `swagger.json` multiple times cause the loading very slow"
After upgrading explorer from 1.8.0 to 2.1.1(by following [upgrading-from-v1x](https://github.com/strongloop/loopback-component-explorer#upgrading-from-v1x)), the explorer takes a very long time to display api interfaces.

It seems that the explorer keeps sending requests to fetch `swagger.json` file, until the file is resolved. The bigger `swagger.json` file is, the more requests it sends, and th

[2015-10-11 16:24] listepo commented on #126
+1

[2015-10-12 15:18] sguilly commented on #126
+1

[2015-10-12 15:19] raymondfeng commented on #126
@bajtos Can we map ObjectID to string for now?

[2015-10-12 17:00] bajtos commented on #126
Yes, I think that's the right approach. Plus add a regex pattern to ensure the string is a valid ObjectID (24 hex digits IIRC).

[2015-10-12 17:27] OwenBrotherwood commented on #54
:+1:

[2015-10-13 02:29] diaswrd commented on #103
:+1: That would be awesome.

[2015-10-13 10:13] saystone commented on #129
same here.

[2015-10-13 16:33] bajtos commented on #129
I was able to reproduce the problem using [loopback-example-app](https://github.com/strongloop/loopback-example-app).

[2015-10-13 16:43] bajtos commented on #129
Here is what I found: whenever the swagger.json references a local type (definition) that is actually not included in the swagger file (e.g. GeoPoint in the case of loopback-example-app), swagger-ui attempts to load the swagger file again. As a result, each reference to GeoPoint triggers another swagger.json request.

Does your application happen to use GeoPoint, ObjectID or any other non-defined

[2015-10-13 22:51] crandmck commented on #123
@bajtos I'm currently working on https://github.com/strongloop-internal/scrum-loopback/issues/495 so the only remaining items in the task list are:
 - [ ] update other projects like loopback-workspace to use the new component (who?)
 - [ ] eventually add a deprecation warning to loopback-explorer@2.0.1 so that npm install nudges people toward upgrading to loopback-component-explorer (@bajtos)

Do

[2015-10-14 08:36] bajtos commented on #123
Sounds like a plan :smile:

[2015-10-15 03:47] clarkorz commented on #129
@bajtos I guess you are right. There is a warning as described in #126  . The swagger file will be loaded only once after changing the datasource to memory.

[2015-10-15 06:20] bajtos commented on #129
In that case I am closing this as a duplicate of #126. Feel free to reopen if you disagree.

[2015-10-15 06:20] #129 closed

[2015-10-15 08:19] saystone commented on #126
+1

[2015-10-17 07:44] Vrolijkx commented on #126
+1

[2015-10-19 15:30] barocsi commented on #103
+1 Awaiting for this

[2015-10-20 07:15] omega500 commented on #126
+1 Also have a warning on GeoPoint object

[2015-10-21 06:16] brenthcodemagnus opened #130 "loopback explorer not loading"
I created a loopback app and run the server using node .. But when I go to http://0.0.0.0:3000/explorer, it doesnt load the page. It just loads until chrome reports it as unresponsive. the same with firefox. And using a rest client

[2015-10-21 23:09] superkhau commented on #130
What version of node and what OS are you using? Can you provide steps to reproduce? Can you provide a link to a test project on GitHub? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-10-22 08:52] bajtos commented on #85
I believe this has been fixed by #114, please reopen this issue if I am wrong.

[2015-10-22 08:52] #85 closed

[2015-10-22 11:00] bajtos commented on #34
I think this may be already fixed in v2.x, we need to verify.

[2015-10-22 17:00] mike-aungsan opened #131 "Upload File with loopback-component-storage"
Cannot upload File to this API. No option to select file. Have to use postman.

post /containers/{container}/upload

[2015-10-22 17:34] mike-aungsan commented on #103
+1

[2015-10-22 17:34] mike-aungsan commented on #131
https://github.com/strongloop/loopback-component-explorer/issues/103

[2015-10-22 17:34] #131 closed

[2015-10-22 17:46] superkhau commented on #34
Performing `curl -XPOST localhot:3000/api/Customers/greet?msg=world`, you get back `hello world`. This is fixed. Closing.

[2015-10-22 17:46] #34 closed

[2015-10-22 17:46] ritch opened #132 "Operation IDs should be unique per app"
Originally reported by @sclaussen

[2015-10-22 17:48] ritch opened #133 "Should not include unused definitions"
Originally reported by @sclaussen

[2015-10-25 07:47] voitau commented on #51
Tried to use as suggested in documentation:
[code]
Works if no overrides. If original ```component-config.json``` has any configuration options defined, then override with ```false`` fails and the app exits. Does anyone else experience the same issue?

[2015-10-27 22:01] benawarez commented on #103
has the File Upload/Download API been created?  I'm trying to use this one but I keep running into errors:

loopback-component-storage-mongo

Issue reported:
https://github.com/jdrouet/loopback-component-storage-mongo/issues/2

[2015-11-02 08:00] clarkorz opened #134 "Explorer doesn't generate form data when input arguments maps to `form`"
According to [HTTP mapping of input arguments](https://docs.strongloop.com/display/public/LB/Remote+methods#Remotemethods-HTTPmappingofinputarguments), the source property could be `form`. After upgrade explorer from 1.8, the explorer doesn't send form data for such endpoints.

[code]
### Reproduce
1. checkout https://github.com/clarkorz/loopback-sandbox/tree/issue/http-source-form
2. `npm install

[2015-11-02 12:27] MrBoolean commented on #126
+1

[2015-11-02 12:32] bajtos commented on #133
I believe this has been already implemented in v2.x, see [loopback-swagger:lib/specgen/type-registry.js](https://github.com/strongloop/loopback-swagger/blob/9ff41f2e1922c02a79dc68381ca528484361eaec/lib/specgen/type-registry.js#L27)

[2015-11-02 22:29] superkhau commented on #134
Verified. Would you like to submit a PR?

[2015-11-03 11:54] sebastianhaas commented on #126
+1 for `ObjectID` and +1 for `GeoPoint`

[2015-11-03 15:54] bajtos commented on #123
Workspace has been already updated, see https://github.com/strongloop/loopback-workspace/pull/230

Done.

[2015-11-03 15:54] #123 closed

[2015-11-03 18:23] #126 closed

[2015-11-06 10:00] bajtos commented on #51
This is off-topic for this GH issue. Please open a new issue for the problem and provide steps for reproducing the issue on our machines, see [wiki](https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report).

[2015-11-07 09:37] benawarez commented on #126
+1 for GeoPoint and +1 for ObjectID

[2015-11-10 11:36] fabien opened #135 "Uncaught TypeError: Cannot read property '$ref' of undefined"
After updating from 1.x today, I cannot use Explorer because of the following error:

[code]

I suspect this to be related to the former issue I was having (with the same app):

https://github.com/strongloop/loopback-component-explorer/issues/106

[2015-11-10 11:41] fabien commented on #135
It appears this is not the same issue as #106 but hard to debug either way :-(

[2015-11-11 16:00] bajtos commented on #132
The following ids are duplicated:

 - `exists` (`GET /api/mymodels/{id}/exists`, `HEAD /api/mymodels/{id}`)
 - `createChangeStream` (`GET` and `POST` on `/api/mymodels/{id}/createChangeStream`)

[2015-11-11 21:13] fabien commented on #135
Digging deeper this seems to be related:

https://github.com/swagger-api/swagger-js/issues/85

https://github.com/swagger-api/swagger-ui/issues/1287

In short, attributes of type `array` need to specify the type of its items.

[2015-11-11 21:25] fabien commented on #135
It appears to be this TODO: https://github.com/strongloop/loopback-swagger/blob/master/lib/specgen/schema-builder.js#L95

[2015-11-12 18:53] ritch opened #136 "GeoPoint support is not supported in the explorer"
@superkhau can you fill in this issue with some details?

[2015-11-13 23:25] mike-aungsan opened #137 "Filter on level 2 properties does not work"
curl -X GET --header "Accept: application/json" "http://localhost/api/userIdentities/findOne?filter=%5Bwhere%5D%5Bprofile.username%5D%3Dtest%40gmail.com&access_token=d5qc43SEUrxi3WnFBBgMapuyP27lsb20IMD3lqhxmAqJkDLafI2z2eG5hIcu0ySQ&access_token=d5qc43SEUrxi3WnFBBgMapuyP27lsb20IMD3lqhxmAqJkDLafI2z2eG5hIcu0ySQ"

Request URL
http://localhost/api/userIdentities/findOne?filter=%5Bwhere%5D%5Bprofile.user

[2015-11-14 20:53] Alcal commented on #126
I discovered that my problem came from the fact that  I was specifying an "id" field in my model definitions, so while the connector generated the objectID in mongo, it left MY id blank and returned nulls. Once I removed my id field, I stopped getting the error and started getting the true ID's

[2015-11-15 15:34] hardillb opened #138 "curl expanding [] in examples provided by the API explorer"
I'm playing with the API explorer and I'm having real trouble getting filters to work at all, so I've been trying to use the curl examples and adding things a bit at a time.

Because filters use square brackets to wrap operators like where, or, inq you need to tell curl not to try and expand the content of these.

The curl command line argument --globoff will prevent the expansion. Please add it t

[2015-11-15 17:10] javierfdr opened #139 "Can't load swagger.json with version 2.1.1"
In this post [https://github.com/strongloop/loopback/issues/1641] you said we would be able to find swagger.json spec by requesting the path

http://localhost:3000/explorer/swagger.json

However I'm not being able to find the specification here (URL not found). It this available already?

[2015-11-15 17:28] javierfdr commented on #139
Sorry, I was using loopback-explorer instead of loopback-component-explorer. I mistaken my feature branch were I did this change before. It is working perfectly. thanks.

[2015-11-15 17:28] #139 closed

[2015-11-16 02:47] superkhau commented on #136
Not sure whats going on here. Is this feature request, bug or something that needs triaging?

[2015-11-17 17:48] bajtos commented on #136
Starting point: https://github.com/strongloop/loopback-swagger/blob/11bc42930ecccdb667a01122fabec6c7ee37f0ba/lib/specgen/type-registry.js#L7-L14

[2015-11-18 06:19] pktippa opened #140 "Create Model from loopback-workspace api /ModelDefinitions - Swagger Object not getting updated"
When we create a new model using the loopback-workspace(default :4800/explorer) api POST /ModelDefinitions and calling the loopback-component-explorer to update the newly created models, see below code
[code]

the response for :3000/explorer/swagger.json does not have the newly created models, since the [swaggerObject](https://github.com/strongloop/loopback-component-explorer/blob/master/index.js#

[2015-11-18 18:59] 0candy commented on #43
Would you like to submit a pull request?

[2015-11-18 19:00] 0candy commented on #97
Would you like to submit a pull request?

[2015-11-18 19:08] 0candy commented on #100
![screenshot](https://cloud.githubusercontent.com/assets/14314570/11251099/b218fd60-8dfd-11e5-8b1b-008a9d8a993c.png)

I am able to create a model named api and have it working with explorer.  Please try again with the latest explorer version or provide a sample repo for me to reproduce this issue.
See: https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2015-11-18 19:17] 0candy commented on #140
@pktippa  Is this issue waiting on PR#141 to be merged?

[2015-11-19 05:13] pktippa commented on #140
@0candy yes, waiting for PR#141 to be merged.

[2015-11-19 21:45] 0candy commented on #140
@bajtos  Can you take a look at PR#141? Thanks!

/cc @pktippa

[2015-11-19 21:56] 0candy commented on #138
@crandmck ^

[2015-11-19 22:32] crandmck commented on #138
Hi @hardillb Thanks....Please note that you have to use "stringified JSON" for filters in API Explorer - see https://docs.strongloop.com/display/LB/Querying+data#Queryingdata-api-exp.  Since you brought this to my attention, I'll add this notice in a few other places, too.

I also added a note about using -g in a couple places:
- https://docs.strongloop.com/display/LB/LoopBack+FAQ#LoopBackFAQ-Whyd

[2015-11-19 22:32] #138 closed

[2015-11-20 15:41] bajtos commented on #140
Please use this form when referring to pull requests: #141 or PR #141. That way GitHub automatically creates cross-links.

[2015-11-20 15:43] bajtos commented on #140
This issue is a know limitation of the current explorer implementation, I am changing the labels to "enhancement". We need to prioritise this request against other stories in our backlog.

@pktippa perhaps you can take over #141? I am happy to help you along the way of getting it ready to be landed.

[2015-11-21 07:06] Coobaha commented on #43
@0candy I will try to do this next weekend

[2015-11-23 09:20] pktippa commented on #140
@bajtos I am happy to help and collaborate. But I am not sure what I have to do, please clarify and let me know what I have to do next.

[2015-11-24 04:30] Coobaha commented on #43
@0candy this is already implemented with definition schemas :) while bootstraping repo found that examples were not starting, created PR #142

[2015-11-24 04:30] #43 closed

[2015-11-24 11:43] bajtos commented on #140
@pktippa sorry for the confusion. I thought we were discussing #22. I'll comment on your #141 too.

[2015-11-24 14:35] 0candy commented on #43
@Coobaha   Thank you for the follow up and thanks for closing the issue.

[2015-11-24 17:53] #132 closed

[2015-11-25 21:06] #136 closed

[2015-11-27 08:41] bajtos opened #143 "swagger: exclude definitions that are not referenced"
https://github.com/strongloop/loopback-swagger/pull/21 improved handling of references created by model relations and methods. Now we need to improve handling of references created by model properties.

Test case:

[code]

[2015-11-30 23:20] superkhau commented on #130
@brenthcodemagnus Are you still running into issue?

[2015-12-01 09:58] bajtos commented on #133
Closing as a duplicate of #143, as the other issue contains all relevant details.

[2015-12-01 09:58] #133 closed

[2015-12-10 18:19] bajtos commented on #116
@0candy This is sort of a placeholder/linkpost story to keep track of all leftovers from my work on explorer@2.0. I am assigning it to you as you are the new repo expert. Some of the subtasks have already standalone stories, I think we should eventually get stories created for all subtasks.

For the purpose of Sprint 86 planning, could you please take few of those subtasks that are clear enough fr

[2015-12-11 13:22] SpaceHeroGuide opened #144 "Add relations in model schema"
We use a before remote method hook to always add an include filter to e.g. the find and findById methods provided by PersistedModel.

In the explorer for these methods I'd like to display the model schema with the always included relations but can't figure out how to reregister the remote method.

i.e.

GET /Customers

[code]

has a belongsTo-Relation to Company. So I'd like the model schema to sh

[2015-12-15 13:50] bajtos commented on #105
@0candy The goal of this task is to add support for the new feature landed by https://github.com/strongloop/strong-remoting/pull/218:

In short, method's `http` object supports two new config options `status` and `errorStatus`, see this example:

[code]

When set, the values override the default success status code (200) and the default error status code (500).

The current implementation in loopb

[2015-12-15 15:00] bajtos commented on #143
I was thinking about this problem for a bit. At the moment, we have a type registry object ([source](https://github.com/strongloop/loopback-swagger/blob/9a30a143a47445f321c1d349c5b808517e248686/lib/specgen/type-registry.js)) that keeps track of objects that we know and which objects were referenced.

The problem is, we record "Model1 references Model2" before we know whether "Model1" is used at al

[2015-12-18 08:51] pktippa opened #145 "Alternate for 'loopback-explorer/lib/model-helper.js ?"
Since loopback-explorer is deprecated, I am looking for an alternate of  loopback-explorer/lib/model-helper.js-> generateModelDefinition method.

I searched through the loopback code but I am only able to find the unused test code in loopback-swagger [latest 2.2.3](https://github.com/strongloop/loopback-swagger/blob/v2.2.3/test/specgen/model-helper.test.js#L131) which referes to generateModelDefin

[2015-12-18 17:07] doublemarked opened #146 "Model properties with `default: null` break explorer"
A model with a property containing a `null` default value will produce a Swagger spec that is incompatible with Swagger 2.0, preventing the explorer from loading. The error on the console is:

`Uncaught TypeError: Swagger 2.0 does not support null types ([object Object]).  See https://github.com/swagger-api/swagger-spec/issues/229.`

An example model property is,

[code]

The resulting swagger.jso

[2015-12-21 12:29] pktippa commented on #145
@bajtos any ideas on this ?

[2015-12-21 16:01] raymondfeng commented on #145
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re:
[loopback-component-explorer] Alternate for
'loopback-explorer/lib/model-helper.js ? (#145)" sent on 12/21/15 12:29:55
PM.

This is the only notification you will receive while this person is away.

[2015-12-21 22:45] 0candy commented on #137
Closing as dup of https://github.com/strongloop/loopback/issues/517

[2015-12-21 22:49] 0candy commented on #145
https://github.com/strongloop/loopback-swagger/blob/master/lib/specgen/model-helper.js ->registerModelDefinition

Is this what you're looking for?

[2015-12-22 11:15] doublemarked commented on #146
FWIW - we've created the following temporary workaround to allow us to move forward despite the problem,

[code]

[2015-12-22 12:41] bajtos commented on #145
@pktippa what are you trying to achieve? Most of the code generating swagger spec was moved to `loopback-swagger` as @0candy pointed above, you should be able to access it from there.

[2015-12-22 16:08] bajtos commented on #146
Yeah, I have encountered this problem too, it's a bug we should fix. The solution described above, where `default:null` is simply omitted from the swagger output, is a good start :+1:

[2015-12-28 03:05] alFReD-NSH commented on #51
This is still an issue because setting `loopback-explorer: null` or `loopback-explorer: false` in component-config.production.json doesn't override `loopback-explorer: { ... }`.

Here's a test for loopback-boot to replicate the issue:

diff --git a/test/executor.test.js b/test/executor.test.js
index 52564af..a6f716b 100644
--- a/test/executor.test.js
+++ b/test/executor.test.js
@@ -756,6 +756,24 @

[2015-12-30 08:25] gaohailang commented on #103
+1

[2015-12-30 13:59] anilGupta opened #147 "explorer api list is blank after overriding path"
[code]

![loopback explorer issue](https://cloud.githubusercontent.com/assets/655320/12051551/7276a302-af2b-11e5-8833-56df6008feba.jpg)

can you please explain why it's making swagger.json paths as blank object

[2016-01-04 09:42] bajtos commented on #146
the catch is how to remove null in nested properties too, for example `default: { enabled: false, port: null }`

[2016-01-04 09:57] doublemarked commented on #146
@bajtos Covering that exact case shouldn't be too much trouble, right? Would you be interested in a PR that does post-processing like this inside loopback-boot?

IMHO this `null` stripping feels like a bandaid. Any thoughts on what the long-term solution is here? On the swagger (OpenAPI) side it seems like they may be moving towards some form of support for null values. May be worth waiting it out

[2016-01-05 09:46] #140 closed

[2016-01-07 18:09] bajtos commented on #51
Could you please open an issue in loopback-boot? Submitting a patch fixing the issue would be even better :)

[2016-01-07 20:34] 0candy commented on #147
Can you provide a sample repo for me to reproduce the issue?

[2016-01-08 11:04] anilGupta commented on #147
it's private git repo so i can't share
all i want to override swagger css & html pages so that i can update text & style's colors
is there any other way to do this task

server.js
[code]

here is my package.json file
[code]

[2016-01-08 14:58] alFReD-NSH commented on #51
There's already in an issue opened there: strongloop/loopback-boot#146

I'll be submitting a pr soon.

[2016-01-08 15:35] #143 closed

[2016-01-21 21:14] maxatbrs commented on #135
Hey @fabien I've found that there are a few similar issues regarding this:

https://github.com/swagger-api/swagger-ui/issues/1677

Did you ever get any resolution to this issue and if so what was the solve?

[2016-02-01 12:42] #51 closed

[2016-02-03 02:46] superkhau commented on #130
Closing due to inactivity. Please create a new issue if you are still running into problems.

[2016-02-03 02:46] #130 closed

[2016-02-03 17:02] cfjedimaster commented on #94
I just ran into this myself - even if you can't fix it - is there anyway you can simply add some text to the UI to explain how to pass the value?

[2016-02-04 12:42] Nautigsam opened #149 "Define different views for explorer"
Hello, I think that the explorer is useful for not only testing, but also documenting APIs. I would like to expose the explorer to my API's users but I don't want them to see all the routes I use for admin purposes (even if they get 401 code if they try to use it). So it should be possible to define custom options to set different explorer views and mount these views on different routes. Does such

[2016-02-04 17:04] dev-augmenta opened #150 "Unable to customize CSS"
I followed the example in the doc, and y add the uiDirs: []  array of path poining to my public /client/css folder. But no additional css is loaded.
Anyone has a working example of a customized explorer page?

Also I don't want to edit stuff in node_modules folder because I work with heroku and the npm install is performed server side...

[2016-02-09 23:44] ibrt opened #151 "Specifying a filter in the API explorer using the REST format does not work"
Repro instructions:
- Run the loopback-example-relations app locally
- Navigate to [http://localhost:3000/explorer/#!/Customer/Customer_find](http://localhost:3000/explorer/#!/Customer/Customer_find)
- In the filter box, type [include]=order
- Click on "Try it out!"

Expected result:
- The query succeeds

Actual result:
- The query fails with 400 status

Reason:
- The URL generated by the API expl

[2016-02-18 07:58] dcversus opened #152 "options method"
Hi!
I'm new to strongloop. For my application need options method. When I try to click "Try it out" in loopback-explorer I receive an error "Uncaught TypeError: request [method] is not a function"

loopback-component-explorer 2.1.0
loopback 2.22.0

![image](https://cloud.githubusercontent.com/assets/8696354/13136910/7a6f68f8-d62e-11e5-83fa-65799760cb31.png)

[2016-02-18 22:27] ZepAviator commented on #137
I don't think it is a duplicate... Explore is adding a "=" after the filter.

... /findOne?filter**=**%5Bwhere%5D%5Bprofile.username ...

If you remove the = then the query works.

[2016-02-23 17:07] jetq88 commented on #151
same problem here too,

[2016-03-04 00:34] ritch opened #153 "Support exposing swagger resource listing without ui"
I should be able to expose the swagger ofr my API without the explorer UI. Some setting like:

[code]

Which would default to `true` and when `=== false` the UI would not be mounted as a middleware.

/cc @raymondfeng @bajtos

[2016-03-09 15:53] sachinhub commented on #103
+1 Awaiting support for this in loopback. Is it already done?

[2016-03-11 05:44] dcversus commented on #153
I think the best way to install loopback-swagger direct and write something like this (is boot script):

[code]
I use this way.

[2016-03-11 05:46] raymondfeng commented on #153
With https://github.com/strongloop/loopback-component-explorer/issues/154, you can now set `swaggerUI: false` in `server/component-config.json` to disable the UI.

[2016-03-13 19:25] Rohithzr opened #155 "Custom Routes to LB Explorer"
It would nice to add a way to add custom routes to explorer.

`server/boot/routes.js`

[code]

[2016-03-29 14:32] #153 closed

[2016-03-30 17:31] 0candy commented on #105
-[ ] Add support for status
-[ ] Add support for errorStatus

[2016-03-30 17:46] 0candy commented on #152
Can you provide a sample repo to reproduce this issue? Thanks!

[2016-03-30 17:56] 0candy commented on #150
Could you provide a sample repo for me to reproduce your issue? Thanks!

[2016-03-30 18:09] 0candy commented on #151
For your example above, you should put `{"include":"order"}` in the filter box.

See docs: https://docs.strongloop.com/display/APIC/Querying+data

Hope that helps!

[2016-04-05 14:44] 0candy commented on #145
@pktippa Did the above comments help? Can I close this issue?

[2016-04-05 15:05] 0candy commented on #147
I am not sure what else you changed but when I replaced my server file with yours, I still see the apis.

I see:
`Anil Custom API`
`Anil API Explorer`
and the APIs below it.

Maybe you can create a dummy project or something with the exact changes you made so I can take a look?

[2016-04-07 05:34] pktippa commented on #145
@0candy Yes. Please close the issue.

[2016-04-07 13:47] #145 closed

[2016-05-06 15:01] supasate opened #161 "npm run test fails in `overrides swagger-ui files`"
`npm run test` fails with the following error.

```1) explorer with custom front-end files overrides swagger-ui files:```
     ```Error: expected '/* custom swagger-ui file */\n' response body, got '// Copyright IBM Corp. 2014. All Rights Reserved.\n// Node module: loopback-component-explorer\n// This file is licensed under the MIT License.\n// License text available at https://opensource.org/lice

[2016-05-06 15:02] supasate commented on #161
I made a PR #160 to fix this issue.

[2016-05-09 14:22] bajtos commented on #161
Fixed by #160.

[2016-05-09 14:22] #161 closed

[2016-05-10 20:06] JonnyBGod opened #162 "Export authSchemes and securityDefinitions"
We should be able to export auth specifications with swagger spec.

At least make it easy to hardcode it in options.

[2016-05-10 20:09] JonnyBGod commented on #162
It would be perfect if it was possible to easily integrate with loopback-component-oauth2

[2016-05-23 04:47] windyinwind opened #163 "Swagger: skipping unknown type "json"."
I upgraded loopback-explorer according to README, but when I run `node .`
This message shows up:
`Swagger: skipping unknown type "json" `

anyone know what this means? did I do misconfig something?

[2016-05-23 06:04] windyinwind commented on #163
sorry, I found what caused this. One dev use 'json' instead of 'object' for param type.

[2016-05-23 06:04] #163 closed

[2016-05-25 15:58] jannyHou opened #164 "CI fails due to license update"
CI fails due to license update:
[code]

failure link: http://ci.strongloop.com/job/loopback-component-explorer/label=ubuntu-4/955/consoleFull

[2016-05-26 08:52] bajtos commented on #164
@jannyHou I believe this problem was already fixed by #160, PTAL.

[2016-05-31 14:16] sebastianhaas opened #165 "Specifying multiple protocols doesn't work"
Specifying multiple protocols for `loopback-component-explorer` like

[code]

results in an invalid `swagger.json`:

[code]

I doubt this behaviour is intended because of https://github.com/strongloop/loopback-swagger/blob/master/lib/specgen/swagger-spec-generator.js#L130 as well as https://github.com/swagger-api/swagger-ui/issues/1006.

Also see http://swagger.io/specification/, section Schema st

[2016-05-31 19:55] jannyHou commented on #164
@bajtos thank you, true, it's fixed by https://github.com/strongloop/loopback-component-explorer/pull/160
I build master branch from jenkins and all green:
http://ci.strongloop.com/job/loopback-component-explorer/965/
The previous failure was caused by that fix not included.
I am closing this issue now.

[2016-05-31 19:55] #164 closed

[2016-06-01 18:01] Lughino opened #167 "nestRemoting does not appear"
I added a layer to the rest api but this does not appear in the component explorer.

[code]

Now I can make calls, eg with postman, like this:

[code]

But in the component explorer these routes are not displayed.
It's a bug? If not it would be very nice as a new feature!

[2016-06-24 16:31] superkhau commented on #100
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2016-06-24 16:31] #100 closed

[2016-07-14 10:45] jtan4gov commented on #167
Any comments on this? We have not seen the routes exposed in the explorer as well. Thanks!

[2016-07-14 19:03] #105 closed

[2016-07-29 13:50] adrielldagasuan opened #171 "Explorer doesn't display APIs"
Explorer says "fetching resource list: http://0.0.0.0:3000/explorer/swagger.json; Please wait.". Checked swagger.json and it's not empty.

<img width="1212" alt="screen shot 2016-07-29 at 9 46 24 pm" src="https://cloud.githubusercontent.com/assets/10193674/17250227/ff008332-55d5-11e6-82e9-fb408db62288.png">

<img width="1216" alt="screen shot 2016-07-29 at 9 47 27 pm" src="https://cloud.githubuser

[2016-08-03 08:00] benjaminhon commented on #146
has this been fixed? so null default values are not allowed? I have this problem as well unfortunately

[2016-08-09 06:42] Yaojian commented on #171
I have the same problem.

[2016-08-11 18:38] richardpringle commented on #171
I've seen this before too... it's usually because there is an issue elsewhere within your LoopBack application. Would be great if you guys could fork the [LoopBack sandbox](https://github.com/strongloop/loopback-sandbox) and reproduce your issue in the fork so I can take a look.

[2016-08-11 18:48] richardpringle commented on #165
That doesn't look right. @sebastianhaas how are you producing the swagger though, I'm not sure that I've seen the component-explorer path produced in a swagger file before...

[2016-08-11 19:01] richardpringle commented on #162
@JonnyBGod, should this be in [loopback-swagger/issues](https://github.com/strongloop/loopback-swagger/issues)?

[2016-08-11 19:52] azatoth opened #172 "accessToken included twice in curl commandline"
For example, the curl line for a given "Paths" model is shown here with two entries of the accessToken, and usually this makes the server not behave properly (can get crashes where userId is referenced, etc...)

[code]

[2016-08-11 20:03] sebastianhaas commented on #165
I'm not sure if that was your question, but I just navigated to `/explorer/swagger.json`. Given the configuration above, it will result in the invalid output.

[2016-08-12 01:59] tjosbon commented on #167
Same here, the nested relationships are not showing in explorer.

[2016-08-13 02:22] yohanesgultom commented on #146
I'm also facing this issue. Could anyone help me suggest how to implement the workaround suggested above (or any better workaround)? I have tried putting the callback in the `server/server.js` but the `_` variable wasn't recognized.

[2016-08-13 02:40] yohanesgultom commented on #146
Just a quick update, I just realized that `_` is referring to `lodash` package. So I tried to import it first using `var _ = require('lodash')` in `server/server.js` and the workaround worked as a charm :smile:

[2016-08-15 19:30] richardpringle commented on #165
@sebastianhaas, can you for the [loopback-sandbox](https://github.com/strongloop/loopback-sandbox) and write the steps to reproduce in the readme?

Thanks in advance.

[2016-08-15 19:41] azatoth commented on #172
@richardpringle informed me I had filed the bug [strongloop/loopback-swagger#50] possibly in the wrong repo and propsed it was better to file it here instead.

[2016-08-16 14:45] richardpringle commented on #172
Thanks for pointing out the bug @azatoth!

[2016-08-17 13:49] sebastianhaas commented on #165
@richardpringle
https://github.com/sebastianhaas/loopback-sandbox/tree/issue-165

Hope that works for you!

[2016-08-17 16:17] richardpringle commented on #165
@sebastianhaas, there's definitely something wrong here... but I'm not sure that fixing the extra set of brackets addresses much.

What are you doing with the `swagger.json` file? Are you aware of [the API definition generator](https://docs.strongloop.com/display/public/LB/API+definition+generator)?

I'm not sure that the schemes there are entirely relevant to your API in general...

In any case,

[2016-08-17 21:55] sebastianhaas commented on #165
I wasn't aware of the API definition generator. However, I don't really see how this matters in regard to the bug I reported. I tried using it, it seems to be broken anyway.

I'm using `swagger.json` to auto-generate an Angular 2 client using `swagger-codegen`.
So yeah. I would prefer if this gets fixed, I mean, why wouldn't it, this is clearly out of specification and you guys are promoting loopb

[2016-08-17 22:17] richardpringle commented on #165
I don't believe that "schemes" is doing anything in the context of the explorer. It's not taking into consideration the scheme of the API itself, it's just being set based on the component-explorer configuration.

Even though the swagger.json is "mostly" working for you, that's not the recommended way of grabbing the specification for your API. I think there might be some flaws that you run into i

[2016-08-17 22:38] sebastianhaas commented on #165
That might be true, but I wouldn't bet on it. The explorer is using the swagger file itself to determine the endpoints etc., so I suspect the protocol _does_ matter.

Just for the sake of completeness, the actual swagger scheme is built in `loopback-swagger`, with the relevant code for the protocols somewhere here:
https://github.com/strongloop/loopback-swagger/blob/63f734c87704ca9b60e4c9f404b3e73

[2016-08-27 17:18] BilalDja opened #173 "Override scaffolded setting issue"
Hi, _if this issue is solved please refer to the solution_.
I'm trying to override the explorer default settings by creating a second file name as : **component-config.local.json**. I suppose that this file has priority higher then **component-config.json**. When I set the "loopback-component-explorer" to null the app breaks, and this is the stacktrace:
C:\Users\appFolder\node_modules\loopback-boo

[2016-08-29 18:00] bbito opened #174 "With destroyAll exposed, API Explorer does not send where filter (LB 2.x)"
I have tried both exposing the built-in destroyAll method at:
https://github.com/strongloop/loopback/blob/2.x/lib/persisted-model.js#L747
by setting `shared: true`
And alternately registering a remote method as recommended by @raymondfeng at: https://github.com/strongloop/loopback/issues/1499#issuecomment-118250091

Using either method, the `DELETE` in StrongLoop API Explorer does **not** include

[2016-09-17 02:34] fs523577192 opened #176 "Parameters with x-www-form-urlencoded are not included in the curl commandline and are not sent"
I have a model called MyInterface.

I am trying to POST "name=Login%20Preparation&url=%2Flogin" with "Parameter content type" "application/x-www-form-urlencode" in http://127.0.0.1:3000/explorer/#!/MyInterface/MyInterface_create.

The curl command line shown is
`curl -X POST --header "Content-Type: application/x-www-form-urlencoded" --header "Accept: application/json" "http://127.0.0.1:3000/api/My

[2016-09-24 16:58] clinm commented on #173
Hello BilalDja,

I know I'm late for your issue but I just ran into it myself. I've found a way around by just making my files as following :

[code]

[2016-09-30 04:33] superkhau commented on #176
I'm running into the same issue for API explorer at https://github.com/strongloop/loopback-datasource-juggler/commit/a65504b2aa175e0fc730096975d522e5e06f31a7 for PUT requests using `source: 'form'` for remoting.

[2016-09-30 04:46] superkhau commented on #176
Also see comment at https://github.com/strongloop/loopback/issues/2770#issuecomment-250597461

[2016-09-30 08:23] bajtos commented on #176
This makes perfect sense to me. Because your client send an empty request body, the server rejected the request with a validation error.

The solution is to add (possibly multiple) `-d` options to curl:

[code]

@fs523577192 I may be misunderstanding your bug report. What are you trying to accomplish? What behaviour did you expect from LoopBack?

[2016-09-30 17:15] superkhau commented on #176
@bajtos I believe he is talking about the curl line that shows up in API explorer. I ran into the same issue when issueing PUT with form. I expected the curl output from the UI to show -F or -d for JSON, but it simply shows no -d or -F flag and sends no data with the request.

[2016-10-05 12:31] bajtos commented on #176
I see. Can we get a sample app reproducing the problem please, so that we stop guessing? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-10-11 17:48] gunjpan commented on #173
@BilalDja : Yes, `component-config.local.json` has higher priority than `component-config.json`.

I'm curious what you're trying to achieve by setting up `explorerPath` to `null`? are you trying to disable `explorer` for `local` setup?
If that's the case, you can [disable the `explorer`](https://docs.strongloop.com/display/APIC/Environment-specific+configuration#Environment-specificconfiguration-D

[2016-10-11 17:48] #173 closed

[2016-10-11 20:05] gunjpan commented on #152
@dcversus : Closing this due to inactivity. Should you still face the issue, please provide me with a sample repo or steps to reproduce and I'll be happy to assist.
Thank you :)

[2016-10-11 20:05] #152 closed

[2016-10-11 20:07] gunjpan commented on #151
@ibrt : Above solution should work.
Closing this due to inactivity. Should you need further assistance, please tag me in the comments and will be happy to reopen and assist. Thank you :)

[2016-10-11 20:07] #151 closed

[2016-10-11 20:10] gunjpan commented on #162
@JonnyBGod : Could you please post this issue in the correct place as shown above?
Also, a sample/example to understand what you're proposing will definitely help within the description.
Closing this now. Thank you and have a great day!

[2016-10-11 20:14] gunjpan commented on #171
@adrielldagasuan : Does this issue still persist? If yes, could you please provide a repo to reproduce as asked above. Thank you.
P.S.: I created a new LoopBack app, just now, and it works fine.

[2016-10-11 20:16] gunjpan commented on #150
Closing this due to inactivity. Should the issue still persist, please provide a list of steps to reproduce or a sample repo in the comments below, also tag my name, so that I can better assist you. Thank you and have a great day :)

[2016-10-11 20:16] #150 closed

[2016-10-12 06:59] superkhau commented on #162
@JonnyBGod I'm going to help move this issue over to the repo mentioned by @gunjpan and @richardpringle. Please add a better description of your issue there. I'll add a template you can edit there.

[2016-10-12 07:00] superkhau commented on #162
This issue was moved to strongloop/loopback-swagger#65

[2016-10-12 07:00] #162 closed

[2016-10-13 18:24] adrielldagasuan commented on #171
@gunjpan not at the moment. just reinstalled and everything worked. Probably some conflict with some of my ports at that time. thanks! closing this.

[2016-10-13 18:24] #171 closed

[2016-10-13 18:41] gunjpan commented on #171
@adrielldagasuan : glad it works, thank you for getting back to me :)

[2016-10-17 18:58] jainisenough opened #185 "loopback-component-explorer@3.0.0 JSONEditor is not defined"
loopback-component-explorer@3.0.0 JSONEditor is not defined. Swagger UI page become blank.
Issue may be related to dependency of swagger UI

[2016-10-18 13:37] #185 closed

[2016-10-21 08:35] cstuncsik commented on #146
What if you would remove it recursively?
[code]

[jsfiddle](https://jsfiddle.net/cstuncsik/uyc0hqj8/)

[2016-10-23 08:41] pratheekhegde commented on #147
I used the same file it worked for me too. Assuming you want to play with `apiInfo`

You can update the `component-config.json` to achieve it.

[code]

https://github.com/strongloop/loopback-component-explorer#options
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/1.2.md#513-info-object

[2016-11-01 02:10] jankcat commented on #167
Anyone have a workaround, maybe a way to display all active routes in a console.log?

[2016-11-01 10:58] Lughino commented on #167
It seems that loopback is really very slow to fix problems.
I am very sorry to say because the starting point is really good, but in a world where the developments are very fast, loopback is left far behind!
Many PR to assess and make the merge, adding features slim to none, nonexistent bug fixes ..
Since it was acquired by ibm it seems that is no longer of interest to them to evolve and improve t

[2016-11-01 11:28] jtan4gov commented on #167
That's sad.

On Nov 1, 2016 6:58 PM, "Luca Pau" <notifications@github.com> wrote:

[2016-11-02 23:13] bajtos commented on #146
@doublemarked yes please, a pull request will be very welcome!

[2016-11-22 08:27] htmlauthor commented on #103
+1 for this to get implemented. If we use API explorer as an example of how to use our API's, we should be able to demonstrate file upload as well.

[2016-11-30 13:43] dmtux commented on #172
I took last commit - https://github.com/dmtux/loopback-component-explorer/commit/2bcce529e57dc24d8b8350baa6addba2b88a9584
And I can't reproduce this bug. May be fixed?

[2016-11-30 15:58] dmtux commented on #134
Bug may be closed - fixed by @superkhau https://github.com/strongloop/loopback-swagger/commit/fc15592d6763724e9302b9d7c052b38ddf8b9d78

[2016-11-30 16:42] dmtux commented on #124
In case of deprecated https://github.com/strongloop/strong-swagger-ui fork it depends on swagger-ui issue https://github.com/swagger-api/swagger-ui/issues/1273

[2016-11-30 23:07] superkhau commented on #134
@dmtux Thanks for confirming. Closing.

[2016-11-30 23:07] #134 closed

[2016-12-06 19:59] AbderrahimDz24 opened #194 "Use a custom swagger spec instead of the default"
I want to use a custom swagger spec instead of the default one generated with generateSwaggerSpec method.
Is that possible?

thanks

[2016-12-06 21:53] AbderrahimDz24 commented on #194
as a solution I've override the loadSwaggerUI.js to load my custom swagger spec

[2016-12-06 21:54] #194 closed

[2016-12-07 08:23] superkhau commented on #172
Closing as resolved, if you are still running into issues, please ping and we can reopen.

[2016-12-07 08:23] #172 closed

[2016-12-07 08:28] superkhau commented on #135
Closing as 1.x is long gone. @fabien Please create a new issue if you still want to take this on.

[2016-12-07 08:28] #135 closed

[2016-12-12 17:02] deviant32 commented on #103
+1 Need this so I don't have to keep switching to postman.

[2016-12-20 11:31] codejie commented on #171
I got the same issue...must I re-install everything?

[2016-12-22 08:00] ananddodia commented on #149
Yes I agree with @Nautigsam
I have 220+ API's and its difficult to find a particular API. Also it hangs browser when all API's are loaded. Is there a way to set different explorer views based on module and mount these views on different routes?

[2016-12-22 15:09] #146 closed

[2016-12-27 12:10] sebastianhaas commented on #165
@superkhau how can this not be an issue? Afaik there is no way to specify protocols for API definition files, so using loopback:api-def-generator always includes post processing which is needlessly annoying.

Just allow passing options in at https://github.com/strongloop/loopback-api-definition/blob/master/lib/get-api-def.js#L23 so we can at least specify one protocol + host properly.

[2016-12-27 12:17] sebastianhaas commented on #167
@Lughino  it's sad but I feel exactly the same way. I guess I have >10 discussions open with issues all around the framework, provided multiple showcase apps, even provided tests, tried to help on documentation but I don't think anybody is really taking care of this project anymore. By the end of 2016 I'd recommend anybody to move away.

[2016-12-27 16:25] jankcat commented on #167
@sebastianhaas yup. Already moved to Parse. It has the functionality I need but most importantly it has an active community and is maintained.

[2016-12-29 00:22] superkhau commented on #165
@sebastianhaas I purposely removed the bug label so someone can take over and confirm the bug and take over where @richardpringle left off as he is not at IBM anymore. "unlabeled" lets us know someone needs to look at this -- when someone decides to take this issue on, you will see the "triage" label applied at that time.

[2016-12-29 00:32] superkhau commented on #167
@sebastianhaas @Lughino @jankcat We have many active developers on the project, but unfortunately not every issue gets responded to promptly (there are many priorities to juggle -- there has been discussion in opening up more repos for the community to take over (and perhaps improve on the response times). That said, do you have any suggests on how to improve your experience?

[2017-01-18 04:32] taoyuan opened #199 "Upgrade loopback-swagger to latest version please"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
The latest `loopback-swagger` fixed incorrect parameters orders in explorer page.

### Link to sample repo to reproduce issue (if bug)
[loopback-swagger/issues/67](https://github.com/strongloop/loopback-swagger/issues/67) and the applied [PR](https://github.com/strongloop/loopback

[2017-02-07 14:38] imravichaudhary commented on #171
@codejie Copy your swagger.json value to http://editor.swagger.io/#/ and you will be able to check the error within in your swagger file

[2017-02-07 14:51] codejie commented on #171
@imravichaudhary thanks for your reply~ I had figured out it, that I set a wrong type of a property in model.json. maybe swagger doesn't support this way, I think.

[2017-02-17 12:44] loadstarharpal commented on #163
Search for type: "json" in project and replace with type:"Object"

[2017-02-17 16:12] bajtos commented on #98
A similar problem is discussed in https://github.com/strongloop/loopback/issues/2924, where we want to omit `id` in the definition of `create` request body.

I am closing this issue as a duplicate.

[2017-02-17 16:12] #98 closed

[2017-02-17 16:14] bajtos commented on #94
I believe the UI shows the contents of `description` from argument's remoting metadata. Perhaps we can modify this field to include the additional help? See e.g.
https://github.com/strongloop/loopback/blob/c69e010670a4289d65e188968c54042bbf04bc28/lib/persisted-model.js#L752-L753

@cfjedimaster would you like to contribute this change yourself?

[2017-02-20 15:47] cfjedimaster commented on #94
@bajtos id be happy to - but i noticed the code you linked too had this:

Filter defining fields and include

In a new LB 3 app, in explorer, I see this:

Filter defining fields, where, include, order, offset, and limit

Any idea why?

[2017-02-20 16:07] cfjedimaster commented on #94
Ah - theres 3 descriptions like this, and one matches the one you linked to. I get it now. Working on a PR.

[2017-02-20 16:34] cfjedimaster commented on #94
PR filed

[2017-02-21 10:11] jmls opened #205 "can't get "through" to show"
### Bug or feature request
- [X] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
I cannot seem to get the sample `patients/{id}/physician` to appear in explorer. Taking the json files from simple-integration-app in the loopback test folder

#### appointment.json
[code]
#### patient.json
[code]
#### appointment.json
[code]
### Expected result
I expect to see `pa

[2017-02-22 13:19] bajtos commented on #94
Thank you, I have landed your improvement to both `2.x` and `master` branches of LoopBack.

[2017-03-02 05:10] alFReD-NSH opened #206 "Properties added in bootscripts or later don't show up in explorer"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Properties added in bootscripts or later don't show up in explorer

If you have something like this in a bootscript it's not going to show up in explorer:

    User.dataSource.defineProperty('User', 'newProperty', { type: String });

### Expected result

New property show up in a

[2017-03-02 20:28] gbejic commented on #103
+1 we use explorer for admins to upload files and need that too.

[2017-03-23 17:40] #147 closed

[2017-03-23 17:41] #137 closed

[2017-03-29 13:51] DAVIDFlavien commented on #167
See PR#208

[2017-04-20 23:42] mike-aungsan commented on #171
I have the same issue. Still could not figure it out yet.
I put a relationships in the model and I realized it does not want I need it and also it break other model creation.

If I keep it the following line in relationship, it works. But I cannot call locationMapping API.
If I remove it, explorer does not show any API.

location.json:

"relations": {
  "locationName": {
    "type": "embedsMany",

[2017-04-20 23:44] mike-aungsan commented on #126
Same issue

[2017-04-20 23:44] mike-aungsan commented on #129
Same issue

[2017-05-23 11:12] manojchandrashekar commented on #155
Probable duplicate of: https://github.com/strongloop/loopback-component-explorer/issues/109

[2017-05-25 16:47] GHNewbiee opened #210 "unresponsive script"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (Node.js version, LoopBack version, etc)

[2017-05-25 16:52] GHNewbiee commented on #210
I received: "Warning: Unresponsive script
A script on this page may be busy, or it may have stopped responding. You can stop the script now, open the script in the debugger, or let the script continue.

Script: http://localhost:3000/explorer/lib/highlight.9.1.0.pack.js:1"

[2017-05-25 16:53] #210 closed

[2017-06-02 14:31] Rikhart commented on #103
+1 what about this feature, I need too

[2017-07-20 08:16] teaualune opened #211 "Migrate to Swagger-UI 3.x"
### Bug or feature request

- [x] Feature request

### Description of feature (or steps to reproduce if bug)

I was originally tracking #124 and found that the latest Swagger UI does the exact thing (`displayOperationId`), so I would ask for project owner if you'd like to migrate Swagger UI to 3.x?

Swagger UI 3.x was almost rewritten (with React.js) and most APIs are incompatible to 2.x, so I'm c

[2017-07-26 08:52] KingsDevelopment opened #212 "`Cannot read property '$ref' of undefined` when using `Base`"
### Bug or feature request
- [X] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
We are trying to get a few models on a seperate database, which inherits everything from a different model.

So far I got 4 models working, but one of them breaks the explorer, giving me the error:
`Cannot read property '$ref' of undefined`

But at the same time, it works on swagge

[2017-08-03 08:35] #103 closed

[2017-08-17 18:27] gentunian commented on #173
It's weird how it works. Modifying `component-config.json` to be:

[code]

Won't allow you set `loopback-component-explorer` in another file. It's like it is not about priority but order. I mean, `component-config.json` is parsed even you have `component-config.development.json`.

That will explain this behaviour:
[code]

When you have `component-config.json`:

[code]

and `component-config.develo

[2017-08-24 02:44] #199 closed

[2017-08-24 09:17] sebastianhaas commented on #165
I think this is still an issue that needs to be addressed.

[2017-08-24 09:18] sebastianhaas commented on #167
Nest remoting still doesnt work as I would expect it.

[2017-09-05 09:11] KingsDevelopment commented on #212
addon to this:

These properties were the culprit:
[code]

But those shouldnt be a problem.

[2017-09-06 14:13] #205 closed

[2017-09-06 14:13] #206 closed

[2017-09-06 14:13] #174 closed

[2017-09-06 14:13] #116 closed

[2017-09-06 14:13] #149 closed

[2017-09-06 14:13] #144 closed

[2017-09-06 14:13] #26 closed

[2017-09-06 14:13] #39 closed

[2017-09-06 14:13] #106 closed

[2017-09-06 14:13] #97 closed

[2017-09-06 14:13] #109 closed

[2017-09-06 14:13] #124 closed

[2017-09-06 14:13] #155 closed

[2017-09-09 12:16] ram33 commented on #149
This is really useful feature. If it can't be done, is there a way to generate specs for specific models (subset of swagger.json).

I tried loopback-swagger's generateSwaggerSpec method. I could't find option to filter models.

[2017-09-14 03:08] sebastianfelipe commented on #167
Nest remoting doesn't work. It defined the endpoints, but they don't appear on the explorer

[2017-09-14 17:49] toniopelo commented on #124
This is actually something quite useful if I understand well the purpose of this issue.
Mapping the remote method name with the REST endpoint could be a time saver when you want to programmatically access some method or whatever :) 👍

[2017-09-15 08:41] bajtos commented on #124
AFAICT, Swagger UI has a config option to enable display of operation ids - see https://github.com/swagger-api/swagger-ui/pull/2568. Since loopback-swagger uses model name and method name to create operation ids, it should be enough to enable this Swagger UI option.

Having said that, we may need to upgrade our Explorer to the latest Swagger UI version, see #209.

[2017-09-15 16:58] raymondfeng commented on #167
I'm seeing the same issue.

[2017-09-15 17:54] raymondfeng commented on #167
I created a fix at https://github.com/strongloop/loopback-component-explorer/pull/222

[2017-09-15 18:02] raymondfeng commented on #167
Fixed by loopback-component-explorer@5.1.0 or loopback-component-explorer@4.3.0.

[2017-09-15 18:02] #167 closed

[2017-10-02 10:21] #211 closed

[2017-10-02 17:10] nigelbpeck opened #223 "API version not being picked up from package.json"
The version of the API shown in explorer is not being picked up from package.json, as indicated in the README that it should be. All I get is "API VERSION: 1.0.0" unless I specify it at:

[code]

In which case it gets picked up.

Loopback version info:
├── loopback@3.11.1
├── loopback-boot@2.26.2
├── loopback-component-explorer@4.3.0
├── loopback-connector-mysql@5.1.0

[2017-10-18 03:51] sebastianfelipe opened #225 "File Downloading Bug"
# Description/Steps to reproduce
Hi, when someone implements loopback-component-storage, is not possible to download a file (in these new versiones of loopback-component-explorer). It can be downloaded using Postman so I think this issue is related with this component.

Steps:
* Use the endpoint to download a file
* It doesn't respond... it is waiting like doing something

# Expected result
It sho

[2017-10-23 10:18] sebastianhaas commented on #165
Still open and important.

[2017-10-23 10:45] stalinkay commented on #171
The issue can also result from setting `"default"` to `null`.

[code]

[2017-11-02 17:00] segnini75 commented on #39
Hi, sorry for re open this, but I am actually searching for a solution.

[2017-11-18 09:35] #212 closed

[2017-12-15 18:18] #223 closed

[2017-12-31 05:24] #225 closed

[2018-01-04 14:23] xnf opened #228 "Cannot override index.html title using apiInfo"
# Description/Steps to reproduce

`uiDirs` configuration allows to specify a custom index.html, but it is an extra effort if I just want to specify the title (in html head and logo).

Readme refers to `apiInfo` properties, but as far as I can see, [index.html](public/index.html) has hardcoded title. And i did not found any usage of `apiInfo.title` anywhere in the code. Therefore my assumption is -

[2018-01-05 12:03] #165 closed

[2018-01-25 16:19] drmikecrowe commented on #228
Just as an FYI, I'm working on a [Swagger-UI v3](https://github.com/drmikecrowe/loopback-component-explorer) port, and that was one of the things [I added](https://github.com/drmikecrowe/loopback-component-explorer/blob/master/public/lib/loadSwaggerUI.js#L33).

[2018-01-25 16:22] drmikecrowe commented on #211
@teaualune Are you still working on this?  I have [this]https://github.com/drmikecrowe/loopback-component-explorer] that I'm working on

[2018-02-02 04:36] DerekTBrown opened #229 "example for loopback 4 usage"
Can you add an example for Loopback 4 Usage? It is unclear how this would be used.

[2018-04-04 15:13] dhmlau commented on #229
Hi @DerekTBrown , sorry about the late response.  LoopBack 4 is using a different set of dependencies.  All our LoopBack 4 codebase is under `loopback-next` repo.  https://github.com/strongloop/loopback-next.

For examples and tutorial, please refer to:
http://loopback.io/doc/en/lb4/Getting-started.html
http://loopback.io/doc/en/lb4/Examples-and-tutorials.html

[2018-04-04 15:14] dhmlau commented on #229
@DerekTBrown , I'd like to close this issue as answered.  If you have further questions / comments, please submit under https://github.com/strongloop/loopback-next repo. thanks!

[2018-04-04 15:14] #229 closed

[2018-04-09 17:08] #228 closed

[2018-04-14 06:40] luanxuechao opened #235 "loopback.basicAuth is not a function?"
see title

[2018-05-11 04:43] adrian999999 opened #241 "lodash security risk for version 2.7.0"
# Description/Steps to reproduce
loopback-component-explorer@2.7.0 has a dependency of lodash@@3.10.1
which has a security risk.

Reference https://nodesecurity.io/advisories/577

nsp check

# Additional information
Vulnerable    │ <4.17.5
 Patched       │ >=4.17.5

[2018-05-12 02:40] dhmlau commented on #241
@adrian999999 , would you like to submit a PR?

[2018-05-15 10:50] bajtos commented on #241
Sorry, the 2.x version is no longer supported, see [here](https://github.com/strongloop/loopback-component-explorer/blob/master/README.md#supported-versions). Please upgrade to a newer version of loopback-component-explorer.

[2018-05-15 10:50] #241 closed

[2018-05-21 03:29] webocs commented on #124
What's the status on this? I'd really love to use this feature..

[2018-06-27 07:34] #235 closed

[2018-07-18 13:21] SamiSammour commented on #109
Are you kidding me guys??? How could this such an important feature not yet implemented!!!
Day after day I regret choosing loopback as a web framework... so much work to be done yet so poorly documented

[2018-07-18 14:38] Elrendio commented on #109
Hello,

here's my use case and why I would need this feature (and apparently I'm not alone ^^):
I coded a console API for company inner resources (adding and removing Interns, employees, booking meeting, ...)
We're looking to recruit and to contact potentiel candidates we extract their email from their github account. I have a custom endpoint taking as params the username of the targeted github ac

[2018-07-19 11:17] bajtos commented on #109
I am afraid in LoopBack 3.x, it's a fundamental part of the design that all remote methods are living in an object (a model) and each model acts also as a controller.

My recommendation is to create a new model that's inheriting from `Model` (not `PersistedModel`!) and put all your "extra" routes into that model. Think of it as `UtilController` containing various utility methods, not as a new mode

[2018-10-24 16:30] smalesys opened #252 "Display error when a model is called 'Array'"
I have noticed something with the models while working on my database. If i name one of my model 'array' or 'object', the explorer doesn't display the model nor the example :

![array-bug](https://user-images.githubusercontent.com/17086085/47445841-305b9f80-d7ba-11e8-9c9c-3d834da1b891.png)

The methods still work as normal however.

I noticed it while working on one of our projects that includes D

[2019-01-30 15:21] jannyHou opened #254 "Fix the vulnerability caused by swagger-ui"
### Description

See PR https://github.com/strongloop/loopback-component-explorer/pull/253, the vulnerability report requires an upgrade from `swagger-ui@2.x` to `swagger-ui@3.x`.

There is breaking change in swagger-ui@3.x to support OpenAPI 3.0.0. We need to

- [x] Figure out what's the effort to upgrade dependency `swagger-ui` from 2 to 3.
- [ ] If the effort is reasonable then do it.

[2019-02-04 12:12] bajtos commented on #254
_Cross-posting https://github.com/strongloop/loopback-component-explorer/pull/250#issuecomment-423933969_

Upgrading to `swagger-ui@3` is a lot of effort. See https://github.com/strongloop/loopback-component-explorer/pull/209 for the previous attempt made by @STRML .

The following issue is the biggest blocker:

The pull request also says:

I think this is no longer relevant, we are successfully u

[2019-02-07 16:01] nabdelgadir commented on #254
Proposed by @bajtos:

[2019-02-25 15:31] nabdelgadir commented on #254
It seems like the files where the vulnerability exists in `swagger-ui@3` don't exist on `swagger-ui@2`, so there's no way to backport the patch (also the issue's title, `XSS Vulnerability with Swagger UI v3`,  mentions it's for v3). Since the effort to upgrade the dependency was agreed to be too much, should we close the issue?

[2019-03-04 14:08] nabdelgadir commented on #254
I was able to reproduce the issue on a LoopBack 3 application using `swagger-ui@2`, so I'm reopening this issue.

[2019-03-07 13:31] nabdelgadir commented on #254
Closing this issue as no vulnerabilities are reported when creating a new LoopBack 3 app or when doing `npm install` on this repo where `swagger-ui@2.x` is a dependency.

[2019-03-07 13:31] #254 closed

[2019-05-20 12:34] ara-oforiwa commented on #71
Hi,

Having this problem in lb4... I have a property called 'name' of type 'string' which is required... I have no idea why I keep getting internal Error with the message "Cannot read property 'name' of undefined". Any one having this issue in lb4 release?

Thanks!

[2019-06-21 02:55] jeemok opened #263 "Node vulnerabilities"
# Description/Steps to reproduce

It may be too much of an effort to upgrade to v3 of `swagger-ui` as concluded in this issue https://github.com/strongloop/loopback-component-explorer/issues/254

There are two new vulnerabilities reported today, I'm using the following dependencies:

[code]

and it is giving me vulnerabilities warning when I run `npm audit`:

___

  Moderate        Reverse Tabnapp

[2019-06-21 11:10] cs-akash-jarad commented on #263
https://github.com/strongloop/loopback-cli/issues/90

[2019-06-21 12:35] dhmlau commented on #263
@bajtos, since you're looking in this, I'm assigning this issue to you. Thanks.

[2019-06-21 13:05] bajtos commented on #263
As far as I understand these vulnerabilities, they apply only when the attacker can force the swagger-ui instance to load swagger spec created by the attacker. This is not the case with loopback-component-explorer, where we always use the swagger-spec of the application serving swagger-ui. Therefore I believe the vulnerabilities are not applicable to LoopBack.

As for _Moderate Reverse Tabnapping_

[2019-06-23 17:47] shockey commented on #263
@bajtos, you're correct -- these vulnerabilities are not relevant if you trust the OpenAPI document that is being provided to Swagger UI.

[2019-07-23 20:26] mgleland commented on #263
given that swagger won't take your PR, what can people do to get around this?

[2019-07-23 22:54] jeemok commented on #263
@mgleland there are two ways I can think of for handling this now
- Since this vulnerability isn't relevant as discussed, we can filter it off by: `npm audit --audit-level high`. However, it might also filter other vulnerabilities lower than level `high`
- Or install a package to specifically ignore a vulnerability, eg: `node node_modules/better-npm-audit audit -i 975` using [better-npm-audit](htt

[2019-07-30 14:11] bajtos commented on #263
Alternatively, you can create your own fork of swagger-ui and tell the explorer to use your copy instead of the built-in one. See the `uiDirs` option in https://github.com/strongloop/loopback-component-explorer#options.

[2019-09-06 07:28] bajtos commented on #263
https://www.npmjs.com/advisories/985

LoopBack's API Explorer does not allow clients to import swagger spec from YAML URL/pasted-content. I believe that means loopback-component-explorer IS NOT AFFECTED by this vulnerability.

[2019-09-06 13:20] fuyili commented on #263
any plan to address 975 and 976? swagger-api/swagger-ui#5419 doesn't seem to be merged.

[2019-09-09 09:36] bajtos commented on #263
@fuyili I would love to find a way how to remove `npm audit` warnings when installing dependencies in LoopBack projects, unfortunately I don't see any easy solution :(

First of all, based on our understanding, 975 and 976 are not affecting users of this component. Ideally, either we or the app developers like you should have a tool to tell `npm audit` to suppress  warnings about security vulnerab

[2019-11-04 07:41] #176 closed

[2019-11-26 09:11] bajtos commented on #263
Another vulnerability that does not affect LoopBack users: https://github.com/advisories/GHSA-c427-hjc3-wrfw. Re-posting from https://github.com/strongloop/loopback-component-explorer/pull/269:

### GitHub advisory CVE-2019-17495

Link: https://github.com/advisories/GHSA-c427-hjc3-wrfw

Quoting from the [disclosure](https://github.com/tarantula-team/CSS-injection-in-Swagger-UI/tree/15edeaaa5806aa8

[2019-12-05 14:27] ivandov commented on #263
Since these `swagger-ui` vulnerabilities seem to continue to pop up, and there seems to be limited support for updating v2.x of the `swagger-ui` library, I think it makes _some_ sense to split off into a loopback-scoped package.

**However**, the significant downside of doing this would mean that any new vulnerabilities exposed on `swagger-ui` on 2.x may be missed in the loopback-scoped version. T

[2019-12-05 14:34] bajtos commented on #263
See https://github.com/strongloop/loopback-component-explorer/pull/209.

As far as I understand the situation, the biggest issue is with authentication - swagger-ui v3 changed the way how authentication works. By default, swagger-ui v3 is using Swagger security schema to build the UI allowing the user to provide the access token. LB3 does not emit such schema, it relies on a custom UI widget contr

[2019-12-06 01:33] shockey commented on #263
Swagger UI v3 has a component plugin system that would allow LB3 to inject a custom UI widget, and a requestInterceptor that would allow modification of outgoing requests (to attach authorization information that isn't expressed in the OpenAPI document).

[2020-01-06 10:47] bajtos commented on #263
Thank you @shockey for chiming in. Are there any examples showing how to inject a custom UI widget and a requestInterceptor? Or any other documentation that would help us to figure out how to implement your suggestions?

[2020-07-07 14:47] ffflabs commented on #263
I can tell you two things:

  1. I don't have the solution
  2. I got it working

## The UI

Given VSCode provides a swagger-ui-3 preview of any swager.json compliant file, I thought "what the hell" and tried to do a drop-in replacement. I could not. But working or not, the explorer component exposes, like all components, an interface with the footprint:

[code]

Which looks and behaves a lot like

[2020-09-09 14:33] hacksparrow commented on #263
Two more Swagger UI vulns:

- https://www.npmjs.com/advisories/985

- https://www.npmjs.com/advisories/976

These also require crafting custom apispec files, since `loopback-component-explorer` loads a local file generated by the app, it **IS NOT AFFECTED** by these vulnerabilities.

[2020-10-24 09:46] ffflabs commented on #263
I left a working example at https://github.com/ffflabs/loopback-swaggerUI4-example

I doubt there would be any interest, but I can encapsulate most of its logic in a package and publish it as a loopback component

[2020-12-02 14:49] psnehanshu commented on #212
@jurienhamaker How do I solve this issue? How exactly?